<!DOCTYPE html>
<html class="ie8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ meta_title }}</title>
    <meta name="description" content="{{ meta_desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ base_url() }}assets/img/favicon.ico" />
    <link rel="stylesheet" href="{{ base_url() }}assets/foundation/css/normalize.min.css">
    <link href="{{ base_url() }}assets/foundation/css/foundation-apps-1.1.0.min.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/foundation/foundation-icons/foundation-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ base_url() }}assets/foundation/css/foundation.min.css">
    <link href="{{ base_url() }}assets/css/custom/custom.css" rel="stylesheet" type="text/css">
    {% block frontend_css %} {% endblock %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ config('config_basic.google_analytic_code') }}', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
<!--header-->
<div class="">
    <div class=" default-color hidden-for-small-only">
        <div class="row" style="padding-top: 18px;padding-bottom: 18px;">
            <ul class="logo">
                <li class="large-6 medium-6 small-12 small-only-text-center columns"><a href="{{ base_url()~current_lang }}/home"><img src="{{ base_url() }}assets/img/logo-lotte.png"></a></li>
                <li class="large-3 medium-3 large-offset-1 medium-offset-1 small-12 small-only-text-center columns has-form">
                <form class="navbar-form hidden-for-small-only" role="search" action="{{ base_url()~current_lang }}/search" id="form-search-product">
                    <div >
                        <div class="row collapse" style="position: relative">
                            <input name="keyword" type="text" placeholder="Search" id="txt-search-keyword">
                            <a href="{{ base_url()~current_lang }}/search" class="alert button expand"><img src="{{ base_url() }}assets/img/icon/icon-search.png"> </a>
                        </div>
                    </div>
                </form>
                </li>
                <li class="large-2 medium-2 small-12 small-only-text-center columns">
                    <ul class="lang">
                        {% for lang_item in valid_lang %}
                            <li>
                                <a href="{{ lang_item.link }}">
                                    <img class="{{ lang_item.class }}" src="{{ base_url()~lang_item.icon }}" title="{{ lang_item.label }}" />
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--menu-->
<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
        <div class="">
            <div class="hidden-for-small-only">
                <div class="large-12 middle-12 columns menu">
                    <div class="row">
                        <ul class="small-block-grid-6 primary menu-bar ng-scope">
                            <li class="{% block menu_home %}{% endblock %}"><a marked="1" href="{{ base_url()~current_lang }}/home"><span class="ci-home" style="font-size: 2rem;"></span>{{ lang('mn_home') | upper }}</a></li>
                            <li class="{% block menu_about_us %}{% endblock %}"><a marked="1" href="{{ base_url()~current_lang }}/about-us"><span class="ci-info" style="font-size: 2rem;"></span>{{ lang('mn_about_us') | upper }}</a></li>
                            <li class="{% block menu_product %}{% endblock %}"><a marked="1" href="javascript:" class="button" data-dropdown="autoCloseExample" aria-controls="autoCloseExample" aria-expanded="false"><span class="ci-product" style="font-size: 2rem;"></span>{{ lang('mn_product') | upper }}</a>
                                <ul id="autoCloseExample" class="f-dropdown" data-dropdown-content tabindex="-1" aria-hidden="true" aria-autoclose="false" tabindex="-1">
                                    {% for product_menu_item in product_submenus if product_menu_item.slug != 'product-others' %}
                                        <li><a href="{{ base_url()~current_lang }}/product-details/{{ product_menu_item.slug }}">{{ product_menu_item.title | upper }}</a></li>
                                    {% endfor %}
                                    <li><a href="{{ base_url()~current_lang }}/product-others">{{ lang('mn_product_others') }}</a></li>
                                </ul>
                            </li>
                            <li class="{% block menu_promo %}{% endblock %}"><a marked="1" href="javascript:" class="button" data-dropdown="autoCloseExample2" aria-controls="autoCloseExample2" aria-expanded="false"><span class="ci-promotion" style="font-size: 2rem;"></span>{{ lang('mn_news_and_events') | upper }}</a>
                                <ul id="autoCloseExample2" class="f-dropdown" data-dropdown-content tabindex="-2" aria-hidden="true" aria-autoclose="false" tabindex="-2">
                                    <li><a href="{{ base_url()~current_lang }}/event">{{ lang('mn_news_and_events_dropdown') | upper }}</a></li>
                                    <li><a href="{{ base_url()~current_lang }}/promo">PROMO</a></li>
                                </ul>
                            </li>
                            <li class="{% block menu_careers %}{% endblock %}"><a marked="1" href="{{ base_url()~current_lang }}/career"><span class="ci-career" style="font-size: 2rem;"></span>{{ lang('mn_careers') | upper }}</a></li>
                            <li class="{% block menu_contact_us %}{% endblock %}"><a marked="1" href="{{ base_url()~current_lang }}/contact-us"><span class="ci-contact" style="font-size: 2rem;"></span>{{ lang('mn_contact_us') | upper }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="show-for-small-only" style="">
                <nav class="tab-bar default-color">
                    <div class="small-2 columns">
                        <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
                    </div>
                    <div class="small-8 text-center columns">
                        <a href="{{ base_url()~current_lang }}/home">
                         <img src="{{ base_url() }}assets/img/logo-lotte.png" class="m-logo">
                        </a>
                    </div>
                    <div class="small-2 columns m-seach">
                        <form class="navbar-form" role="search" action="{{ base_url()~current_lang }}/search" id="form-search-product">
                            <div >
                                <div class="row collapse">
                                    <input name="keyword" type="search" placeholder="Search" id="txt-search-keyword">
                                </div>
                            </div>
                        </form>
                    </div>
                </nav>

                <aside class="left-off-canvas-menu">
                    <ul class="off-canvas-list">
                        <li>
                            <ul class="small-block-grid-2">
                                <li class="logo-toogle"><img src="{{ base_url() }}assets/img/icon/logo-lotte-grey.jpg"></li>
                                <li class="close-toogle"><button class="exit-off-canvas"><img src="{{ base_url() }}assets/img/icon/close.png"> </button></li>
                            </ul>
                        </li>
                        {#<li><button class="exit-off-canvas"></button></li>#}
                        <li><a href="{{ base_url()~current_lang }}/home">HOME</a></li>
                        <li><a href="{{ base_url()~current_lang }}/about-us">ABOUT US</a></li>
                        <li class="has-submenu"><a href="#">PRODUCT</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                {% for product_menu_item in product_submenus if product_menu_item.slug != 'product-others' %}
                                    <li><a href="{{ base_url()~current_lang }}/product-details/{{ product_menu_item.slug }}">{{ product_menu_item.title | upper }}</a></li>
                                {% endfor %}
                                <li><a href="{{ base_url()~current_lang }}/product-others">OTHERS</a></li>
                            </ul>
                        </li>
                        <li class="has-submenu"><a href="#">NEWS & EVENTS</a>
                            <ul class="left-submenu">
                                <li class="back"><a href="#">Back</a></li>
                                <li><a href="{{ base_url()~current_lang }}/promo">PROMO</a></li>
                                <li><a href="{{ base_url()~current_lang }}/event">NEWS & EVENT</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ base_url()~current_lang }}/career">CAREERS</a></li>
                        <li><a href="{{ base_url()~current_lang }}/contact-us">CONTACT US</a></li>
                    </ul>
                </aside>
            </div>
        </div>
        <!--custom content-->
        {% block frontend_content %}
                {% block back_to_top %}
                    <div class="scroll-top-wrapper ">
                        <span class="scroll-top-inner">
                            <div class="fi-arrow-up large"></div>
                        </span>
                    </div>
                {% endblock back_to_top %}
        {% endblock frontend_content %}
        <!--end custom content-->

        <a class="exit-off-canvas"></a>
    </div>
</div>

<!--footer-->
<footer class="grey f-grey">
    <div class="row">
        <div class="large-12 columns copyright">
            <div class="large-4 medium-12 small-12 columns no-padd text-center gap no-gap">Copyright &copy; 2015 PT. Lotte Indonesia. All rights reserved.</div>
            <div class="large-1 medium-6 hide-for-small-only columns no-padd text-center gap"><a href="{{ base_url()~current_lang }}/home">{{ lang('mn_home') }}</a></div>
            <div class="large-1 medium-6 hide-for-small-only columns end no-padd text-center"><a href="{{ base_url()~current_lang }}/contact-us">{{ lang('mn_contact_us') }}</a></div>
        </div>
    </div>
</footer>
    <script src="{{ base_url() }}assets/foundation/js/vendor/jquery.js"></script>
    <script>
        document.write('<script src={{ base_url() }}assets/foundation/js/vendor/' +
                ('__proto__' in {} ? 'zepto' : 'jquery') +
                '.js><\/script>')
    </script>
    <script src="{{ base_url() }}assets/foundation/js/vendor/modernizr.js"></script>
    <script src="{{ base_url() }}assets/js/jquery.lazyload-any.js"></script>
    <script src="{{ base_url() }}assets/foundation/js/foundation.min.js"></script>
    <script src="{{ base_url() }}assets/foundation/js/foundation/foundation.dropdown.js"></script>
    <script src="{{ base_url() }}assets/foundation/js/foundation/foundation.orbit.js"></script>
    <script>
        $(document).foundation();
        $("label").on("click", function(){
            $(this).siblings(".sub-menu").slideToggle();
        });
    </script>
{% block frontend_js %}
    <script type="text/javascript">
        $('#form-search-product').submit(function() {
            
            var keyword = $.trim($('#txt-search-keyword').val());
            //alert(keyword);
            if (keyword.length <= 0) {
                return false;
            } else {
                return true;
            }
        });
        $(document).ready(function(){
            $('.search-trigger').click(function(e){
                e.preventDefault();
                $('.search').toggleClass('triggered');
            });
        });
        {% block back_to_top_js %}
            $(function(){
                $(document).on( 'scroll', function(){
                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });
                $('.scroll-top-wrapper').on('click', scrollToTop);
            });

            function scrollToTop() {
                verticalOffset = typeof(verticalOffset) != 'undefined' ? verticalOffset : 0;
                element = $('body');
                offset = element.offset();
                offsetTop = offset.top;
                $('html, body').animate({scrollTop: offsetTop}, 500, 'linear');
            }
        {% endblock back_to_top_js %}
    </script>
{% endblock frontend_js %}
</body>
</html>