{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/product-others.css" rel="stylesheet">
{% endblock %}
{% block menu_product %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row others">
        <div class="large-12 columns banner">
        {% for data in banner %}
            <img src="{{ base_url() }}media/product/{{ data.banner }}">
        {% endfor %}
        </div>
        {% for detail in product_overview %}
        <div class="large-12 columns overview">
            <div class="pre-title-center">
                <p class="title">OVERVIEW</p>
                <div style="clear: both"></div>
            </div>
            <p>{{ detail.content }}</p>
        </div>
        {% endfor %}
        <div class="large-12 columns product-list">
        {% for detail in other_detail %}
            <div class="pre-title">
                <p class="title">{{ detail.name }}</p>
                <div style="clear: both"></div>
            </div>
            
            <ul class="accordion" data-accordion>
            {% for other_product in detail.otherproducts %}
                <li class="accordion-navigation">
                    <a href="#panel1a{{ other_product.id }}" class="title-product">{{ other_product.title }}<span class="year-icon"></span></a>
                    <div id="panel1a{{ other_product.id }}" class="content">
                        <ul class="accordion large-block-grid-4 medium-block-grid-3 small-block-grid-2 variant-product" data-equalizer="test">
                            {% for other_product_variant in other_product.othervariants %}
                            <li class="accordion-navigation" data-equalizer-watch="test">
                                <div class="variant-display">
                                    <img src="{{ base_url() }}media/product/{{ other_product_variant.images.filename }}">
                                    <p class="title-variant">{{ other_product_variant.title }}</p>
                                    {#<p>{{ other_product_variant.desc }}</p>#}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
            
        {% endfor %}
        </div>
    </div>
    {% block back_to_top %}
        {{ parent() }}
    {% endblock back_to_top %}
{% endblock frontend_content %}

{% block frontend_js %}
    <script src="{{ base_url() }}assets/bxslider/jquery.bxslider.js"></script>
    <script src="{{ base_url() }}assets/js/foundation/foundation.equalizer.js"></script>
    <script>
        $(document).foundation({
            equalizer : {
                equalize_on_stack: true
//                act_on_hidden_el: true
            }
        });
        $(document).ready(function(){
//            $('.bxslider').bxSlider();
            $('.brand-slider-list').bxSlider({
                minSlides: 1,
                maxSlides: 3,
                slideWidth: 340,
                slideMargin: 10,
                infiniteLoop : false,
                hideControlOnEnd : true
            });

        });
        $(".accordion li").on("click", "a:eq(0)", function (event)
        {
            var li_parent = $(this).parent();
            if(li_parent.hasClass('active'))
                $(".accordion li div.content:visible").slideToggle("slow");
            else
            {
                $(".accordion li div.content:visible").slideToggle("slow");
                $(this).parent().find(".content").slideToggle("slow");
            }
        });
        $('#next').click(function() {
            $('.current').removeClass('current').hide()
                    .next().show().addClass('current');
            if ($('.current').hasClass('last')) {
                $('#next').attr('disabled', true);
            }
            $('#back').attr('disabled', null);
        });
        $('#back').click(function() {
            $('.current').removeClass('current').hide()
                    .prev().show().addClass('current');
            if ($('.current').hasClass('first')) {
                $('#back').attr('disabled', true);
            }
            $('#next').attr('disabled', null);
        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}