{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/animate.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/product-details.css" rel="stylesheet">
{% endblock %}
{% block menu_product %}
    is-active
{% endblock %}
{% block frontend_content %}
    {% for detail in product_detail %}
    <div class="row banner">
        <div class="large-12 columns product-banner">
            <img src="{{ base_url() }}media/product/{{ detail.banner }}">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns overview-animate">
            <div class="overview">
                <div class="pre-title-center">
                    <p class="title">OVERVIEW</p>
                    <div style="clear: both"></div>
                </div>
                {% for detail in product_overview %}
                <p class="desc-overview">{{ detail.content }}</p>
                {% endfor %}
            </div>
        </div>
        {% if product_variant | length > 0 %}
        <div class="pre-title-center with-desc">
            <p class="title">VARIANTS</p>
            <div style="clear: both"></div>
        </div>
        <p class="title-desc text-center">{{ lang('txt_variasi') }} {{ detail.title }}</p>
        {% endif %}
    </div>
    {% endfor %}
    
    {% if product_variant | length > 0 %}
    <div class="brand-slider">
        <div class="large-10 medium-10 large-centered medium-centered columns">
            <ul class="text-center slide5" id="brand-slide" data-equalizer="">
            {% for detail in product_variant %}
                <li >
                    <div class="variants" data-equalizer-watch="">
                        <img src="{{ base_url() }}media/product/{{ detail.image }}" class="bottom-gap">
                        <p class="title-variants">{{ detail.title }}</p>
                        <p class="desc">{{ detail.desc }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% for detail in product_tvc %}
    <div class="row video" data-equalizer>
        <div class="large-7 medium-7 small-12 columns" data-equalizer-watch>
            <div class="video-container">
                <iframe width="640" height="360" src="{{ detail.link }}" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="large-5 medium-5 small-12 columns video-desc" data-equalizer-watch>
            <div class="pre-title">
                <p class="title">TV COMMERCIAL</p>
                <div style="clear: both"></div>
            </div>
            <p class="sub-title">{{ detail.title }}</p>
            <p>(Deskripsi iklan)</p>
            <p>{{ detail.desc }}</p>
        </div>
        <div style="clear: both;"></div>
    </div>
    {% endfor %}
    
    
    <div class="row socmed text-center" id="socmed-row"><img src="{{ base_url() }}assets/img/icon/load.gif"> </div>
    
    {% if product_instagram | length > 0 %}
    <div class="row socmed instagram">
        {% for detail in product_instagram %}
        <div class="large-12 medium-12 small-12 columns socmed-section">
            <p class="socmed-kind">INSTAGRAM <span class="right">@{{ detail.link }}</span></p>
            <div class="description-socmed">
                <div class="row">
                    <div class="large-2 medium-2 small-12 small-only-text-center columns">
                        <img src="{{ base_url() }}media/product/{{ detail.image }}">
                    </div>
                    <div class="large-10 medium-10 small-12 columns">
                        <p class="date">{{ detail.title }}</p>
                        <div class="large-9 medium-8 small-12 columns">
                            <p>{{ detail.content }}</p>
                        </div>
                        <div class="large-3 medium-4 small-12 columns">
                            <a href="https://instagram.com/{{ detail.link }}/" target="_blank">
                                <p class="button-socmed instagram">Follow us on Instagram</p>
                            </a>
                            <div style="clear: both"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% block back_to_top %}
        {{ parent() }}
    {% endblock back_to_top %}
{% endblock frontend_content %}

{% block frontend_js %}
    {#<script src="{{ base_url() }}assets/js/jquery.lazyload.min.js"></script>#}
    <script src="{{ base_url() }}assets/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        //$(document).foundation();
        $(document).ready(function(){
            //$('.socmed-section').lazyload();
            $('.bxslider').bxSlider();
            $('.slide5').bxSlider({
                minSlides: 1,
                maxSlides: 3,
                slideWidth: 270,
                slideMargin: 20,
                infiniteLoop : false,
                hideControlOnEnd : true,
                auto:false,
                moveSlides: 1
            });
        });

        $.ajax({
            method: "POST",
            url: "{{ base_url()~current_lang }}/get-product-socmed",
            data: {slug: "{{ product_slug }}"}
        }).done(function( res ) {
            $('#socmed-row').html(res);
            $('.socmed-section').on('click', '#facebook-next', function(){
                if (!$('.current', '.facebook-main').hasClass('last')) {
                    var fb_curr = $('.current', '.facebook-main'),
                        fb_next = fb_curr.next();
                    fb_curr.removeClass('current');
                    fb_next.addClass('current');
                    if ($('.current', '.facebook-main').hasClass('last')) {
                        $('#facebook-next').addClass('disabled');
                    }
                    if ($('#facebook-back').hasClass('disabled')) {
                        $('#facebook-back').removeClass('disabled');
                    }
                }
            });
            $('.socmed-section').on('click', '#facebook-back', function(){
                if (!$('.current', '.facebook-main').hasClass('first')) {
                    var fb_curr = $('.current', '.facebook-main'),
                        fb_prev = fb_curr.prev();
                    fb_curr.removeClass('current');
                    fb_prev.addClass('current');
                    if ($('.current', '.facebook-main').hasClass('first')) {
                        $('#facebook-back').addClass('disabled');
                    }
                    if ($('#facebook-next').hasClass('disabled')) {
                        $('#facebook-next').removeClass('disabled');
                    }
                }
            });
            $('.socmed-section').on('click', '#twitter-next', function(){
                if (!$('.current', '.twitter-main').hasClass('last')) {
                    var fb_curr = $('.current', '.twitter-main'),
                        fb_next = fb_curr.next();
                    fb_curr.removeClass('current');
                    fb_next.addClass('current');
                    if ($('.current', '.twitter-main').hasClass('last')) {
                        $('#twitter-next').addClass('disabled');
                    }
                    if ($('#twitter-back').hasClass('disabled')) {
                        $('#twitter-back').removeClass('disabled');
                    }
                }
            });
            $('.socmed-section').on('click', '#twitter-back', function(){
                if (!$('.current', '.twitter-main').hasClass('first')) {
                    var fb_curr = $('.current', '.twitter-main'),
                        fb_prev = fb_curr.prev();
                    fb_curr.removeClass('current');
                    fb_prev.addClass('current');
                    if ($('.current', '.twitter-main').hasClass('first')) {
                        $('#twitter-back').addClass('disabled');
                    }
                    if ($('#twitter-next').hasClass('disabled')) {
                        $('#twitter-next').removeClass('disabled');
                    }
                }
            });
        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}