{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/animate.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/about-us.css" rel="stylesheet">
{% endblock %}
{% block menu_about_us %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row about-us">
        <div class="large-6 medium-12 small-12 columns greeting" id="greetings">
            {{ data_greeting_image.content }}
        </div>
        <div class="large-6 medium-12 small-12 columns greeting-detail">
            <div class="inner-greeting">
                <div class="pre-title">
                    <p class="title">{{ lang('txt_title_greetings') }}</p>
                    <div style="clear: both"></div>
                </div>
                {{ page_content }}
            </div>

        </div>
    </div>
    <div class="bg-core-values">
        <div class="row vision-section">
            <div class="large-12 medium-12 small-12 columns" id="visi">
                <div class="visi-group">
                    <div class="pre-title visions">
                        <p class="title">{{ lang('txt_vision') }}</p>
                        <div style="clear: both"></div>
                    </div>
                    <div>
                        <div class="large-6 medium-12 small-12  columns end visi">
                            <p>{{ lang('txt_vision2020') }}</p>
                        </div>
                    </div>
                </div>
                <div class="row core-values">
                    <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-12 columns end">
                        <div class="pre-title">
                            <p class="title">{{ lang('txt_core_value') }}</p>
                            <div style="clear: both"></div>
                        </div>
                        <ul class="large-6 medium-6 small-12 columns">
                            <li class="large-6 medium-6 small-12 columns">{{ lang('txt_core01') }}</li>
                            <li class="large-6 medium-6 small-12 columns">{{ lang('txt_core02') }}</li>
                            <li class="large-6 medium-6 small-12 columns">{{ lang('txt_core03') }}</li>
                            <li class="large-6 medium-6 small-12 columns">{{ lang('txt_core04') }}</li>
                            <li class="large-6 medium-6 small-12 columns end">{{ lang('txt_core05') }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="img-vision-scale"></div>
        </div>
    </div>
    <div class="row definition" data-equalizer>
        <div class="pre-title-center">
            <p class="title">{{ lang('txt_core_value_definition') }}</p>
            <div style="clear: both"></div>
        </div>
        <div class="row core-values">
            {% for core_value in core_value_list %}
                {% set str_offset_core_value = '' %}
                
                {#<p>{{ loop.revindex }} of {{ core_value_list | length }} --- {{ (core_value_list | length) % 3 }}</p>#}
                
                {% if loop.revindex < 3 %}
                    {% if (core_value_list | length) % 3 == 1 and loop.revindex == 1 %}
                        {% set str_offset_core_value = 'large-offset-4' %}
                    {% elseif (core_value_list | length) % 3 == 2 and loop.revindex == 2 %}
                        {% set str_offset_core_value = 'large-offset-2' %}
                    {% endif %}
                {% endif %}
            <div class="large-4 medium-6 small-12 {{ str_offset_core_value }} columns {{ loop.last ? 'end' : '' }} text-center bottom-gap core-desc-animate">
                <div class="values-list" data-equalizer-watch style="background-color: #{{ core_value.bg_color_code | length > 0 ? core_value.bg_color_code : 'ff6e6e' }}">
                    <div style="background-color: #ffffff">
                        <img src="{{ base_url() }}media/core-value/{{ core_value.icon }}">
                        <p class="title-core">{{ core_value.name }}</p>
                    </div>
                    <div class="code-desc" style="text-align: left;background-color: #{{ core_value.bg_color_code | length > 0 ? core_value.bg_color_code : 'ff6e6e' }}">
                        {{ core_value.description }}
                    </div>
                    <img src="{{ base_url() }}assets/img/about-us/icon/core-lotte-{{ core_value.seq | length < 2 ? '0' : '' }}{{ core_value.seq }}.png" class="core-icon">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="bg-core-values ">
        <div class="row expansion">
            <div class="pre-title-center">
                <p class="title">{{ lang('txt_expansion') }}</p>
                <div style="clear: both"></div>
            </div>
            <div class="large-6 columns">
                <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1 expansion-list" data-equalizer>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Guylian</p>
                            <p>Established: 1938</p>
                            <p>Manuf. Premium Chocolate</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Vietnam Co.,</p>
                            <p>Established: 1996</p>
                            <p>Manuf. & Selling Gum</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Confectionery Pilipinas</p>
                            <p>Established: 2009</p>
                            <p>Rep. & Sales Office</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte USA Inc.</p>
                            <p>Established: 1978</p>
                            <p>Manuf. Gum Base & Sales</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte India</p>
                            <p>Established: 2005</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Singapore Pte. Ltd</p>
                            <p>Established: 2010</p>
                            <p>Rep. & Sales Office</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Thai Lotte Co., Ltd.</p>
                            <p>Established: 1989</p>
                            <p>Manuf. & Selling Gum, Koala</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Taiwan Co.,</p>
                            <p>Established: 2005</p>
                            <p>Rep. & Sales Office</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Wedel Poland</p>
                            <p>Established: 2010</p>
                            <p>Manuf. Premium Chocolate</p>
                        </div>
                    </li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">PT Lotte Indonesia</p>
                            <p>Established: 1993</p>
                            <p>Manuf. & Selling Gum, Candy</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="large-6 columns">
                <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-1 expansion-list" data-equalizer>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte KF RUS</p>
                            <p>Established: 2007</p>
                        </div>
                    </li>
                    <li></li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte China Investment</p>
                            <p>Established; 1994</p>
                            <p>Manuf. & Selling Gum, Choco, Biscuit</p>
                        </div>
                    </li>
                    <li></li>
                    <li>
                        <div data-equalizer-watch>
                            <p class="title-list">Lotte Malaysia Sdn.Bhd.</p>
                            <p>Established: 2007</p>
                            <p>Rep. & Sales Office</p>
                        </div>
                    </li>
                </ul>
                <div class="expansion-img">
                    <img src="{{ base_url() }}assets/img/about-us/expansion.png">
                </div>
            </div>
        </div>
    </div>
    {% if achievement_list | length > 0 %}
    <div class="row achievement">
        <div class="brand-slider">
            <div class="large-10 medium-10 large-centered medium-centered columns">
                <ul class="brand-slider-list">
                    {% for achievement in achievement_list %}
                        <li><img src="{{ base_url()~achievement.get_image_path()~achievement.filename }}" title="{{ achievement.title }}"></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row history">
        <div class="pre-title-center">
            <p class="title">{{ lang('txt_history_title') }}</p>
            <div style="clear: both"></div>
        </div>
        <p class="text-center">{{ lang('txt_history') }}</p>
        <div class="row text-center">
            <img src="{{ base_url() }}assets/img/about-us/icon/lotte.png" class="logo-top-history">
        </div>
        <div class="row history-timeline">
            <ol id="timeline" class="large-12 large-centered columns">
                {% for history_item in history_list if current_lang == 'en' %}
                <li class="large-5 medium-5 small-12 columns core-desc-animate-2">
                    <div class="">
                        <time>{{ history_item.year }}</time>
                        {{ history_item.description | raw }}
                    </div>
                </li>
                {% endfor %}
                {% for history_item in history_list if current_lang == 'id' %}
                <li class="large-5 medium-5 small-12 columns core-desc-animate-2">
                    <div class="">
                        {% if history_item.descriptionid == '' %}
                            <div class="time">
                                <time>{{ history_item.year }}</time>
                            </div>
                            {{ history_item.description | raw }}
                        {% endif %}
                        {% if history_item.descriptionid != '' %}
                            <div class="time">
                                <time>{{ history_item.year }}</time>
                            </div>
                            {{ history_item.descriptionid | raw }}
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ol>
        </div>
        <div class="row text-center present core-desc-animate-2">
            <img src="{{ base_url() }}assets/img/about-us/icon/lotte.png">
            <p>{{ lang('txt_present') }}</p>
        </div>
        {% block back_to_top %}
            {{ parent() }}
        {% endblock back_to_top %}
    </div>
{% endblock frontend_content %}

{% block frontend_js %}
    <script src="{{ base_url() }}assets/bxslider/jquery.bxslider.js"></script>
    <script type="text/javascript">
        $(document).foundation({
            equalizer : {
                // Specify if Equalizer should make elements equal height once they become stacked.
                equalize_on_stack: true
            }
        });

        $(document).ready(function(){
            $('.brand-slider-list').bxSlider({
                minSlides: 2,
                maxSlides: 5,
                slideWidth: 170,
                slideMargin: 10,
                infiniteLoop : false,
                hideControlOnEnd : true
            });
            $( "ul.history-list > li:nth-child(odd)" ).css( "float", "right" );
            $('#greetings').each(function(){
                var imagePos = $(this).offset().top;
                var topOfWindow = $(window).scrollTop();
                $(this).addClass("slideDown");
            });
        });
        $(window).scroll(function() {
            $('#visi').each(function(){
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                    $(this).addClass("slideRight");
                }
            });

                $('.core-desc-animate').each(function(){
                    var imagePos = $(this).offset().top;

                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+400) {
                        $(this).addClass("slideDown");
                    }
                });
            $('.core-desc-animate-2').each(function(){
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+400) {
                    $(this).addClass("slideDown2");
                }
            });
            $('.present.core-desc-animate-2').each(function(){
                var imagePos = $(this).offset().top;

                var topOfWindow = $(window).scrollTop();
                if (imagePos < topOfWindow+600) {
                    $(this).addClass("slideDown2");
                }
            });
                $('.expansion-list').each(function(){
                    var imagePos = $(this).offset().top;

                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+600) {
                        $(this).addClass("slideRight");
                    }
                });
                $('.exansion-img').each(function(){
                    var imagePos = $(this).offset().top;

                    var topOfWindow = $(window).scrollTop();
                    if (imagePos < topOfWindow+400) {
                        $(this).addClass("slideLeft");
                    }
                });

        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}