{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/contact-us.css" rel="stylesheet">
{% endblock %}
{% block menu_contact_us %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row contact-us">
        <div class="pre-title-center">
            <p class="title">CONTACT US</p>
        </div>
        <div class="large-4 medium-4 small-12 columns address">
            <p class="title">ADDRESS</p>
            <p>PT. LOTTE INDONESIA HEAD OFFICE</p>
            <address>
                Jl. Pela Raya No. 81<br>
                Jakarta Selatan 12140<br><br/>
                Tel: <a href="tel:+62-21-72780070">+62-21-72780070</a><br>
                Fax: 02-21-72780081/ 82<br>
                Email: <a href="mailto:{{ config('config_basic.contact_us_email_to') }}">{{ config('config_basic.contact_us_email_to') }}</a><br/>
            </address>
        </div>
        <div class="large-8 medium-8 small-12 columns">
            <form action="" method="post" data-abide="ajax" id="form-contact-us">
                <div class="large-6 columns name-field {{ err_msg.contact_name | length > 0 ? 'error' : '' }}">
                    <input name="contact_name" type="text" value="{{ post_data.contact_name }}" placeholder="Name*" required=""/>
                </div>
                <div class="large-6 columns email-field {{ err_msg.contact_email | length > 0 ? 'error' : '' }}">
                    <input name="contact_email" type="email" value="{{ post_data.contact_email }}" placeholder="Email*" required=""/>
                </div>
                <div class="large-12 columns textarea-field {{ err_msg.contact_comment | length > 0 ? 'error' : '' }}">
                    <textarea name="contact_comment" placeholder="Comment*" required="">{{ post_data.contact_comment }}</textarea>
                </div>
                <div class="large-12 columns g-recaptcha" data-sitekey="6Leklw8TAAAAAP4RglzifNec2xs5bf_s8aYK_5hn" data-callback="recaptchaCallback"></div>
                <button type="send">SEND</button>
                {#<button href="#" data-reveal-id="myModal">Click Me For A Modal</button>#}
                {#<button type="send" data-reveal-id="myModal">SEND</button>#}
                {#<div id="myModal" class="reveal-modal large-4" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">#}
                    {#<img src="{{ base_url() }}assets/img/icon/success.jpg">#}
                    {#<p>Thank You</p>#}
                    {#<p>Your Message has been sent</p>#}
                {#</div>#}
            </form>
        </div>

        <div class="large-12 columns">
            <div class="pre-title-center">
                <p class="title">OUR LOCATION</p>
            </div>
            <iframe src="{{ config('config_basic.contact_us_embed_url') }}" width="1171" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    {% block back_to_top %}
        {{ parent() }}
    {% endblock back_to_top %}
{% endblock frontend_content %}

{% block frontend_js %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script type="text/javascript">
        $(document).foundation({
            equalizer : {
                // Specify if Equalizer should make elements equal height once they become stacked.
                equalize_on_stack: true
            }
        });

        $('.form-group .alert-danger').css("display","none");
        var flagCaptcha = false;

        var recaptchaCallback = function() {
            flagCaptcha = true;
        };

        $('#form-contact-us').on('valid.fndtn.abide', function() {
            if (flagCaptcha) {
                $(this).submit();
            }
        });
        {% block back_to_top_js %}
        {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}