{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/animate.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/home.css" rel="stylesheet">
{% endblock %}
{% block menu_home %}
    is-active
{% endblock %}
{% block frontend_content %}
<div class="slideshow-wrapper">
    <ul class="example-orbit-content" data-orbit>
        {% for banner in home_banner %}
            <li data-orbit-slide="headline-{{ banner.id }}" data-equalizer="">
                <div class="large-7 large-push-5 medium-12 small-12 columns" style="position : relative ;background-color: #{{ banner.bgcolor }}" data-equalizer-watch="">
                    <img src="{{ base_url() }}media/homebanner/{{ banner.image }}" class="banner-img">
                </div>
                <div class="large-5 large-pull-7 medium-12 small-12 columns" style="background-color: #{{ banner.bgcolor }}" data-equalizer-watch="">
                    {% if banner.slug == 'lotte-other' %}
                        
                    <div class="large-7  small-12 columns m-desc" style="padding: 38px 0px;">
                        <a href="{{ base_url()~current_lang }}/product-others">
                            <div class="banner-desc" style="color: #{{ banner.fontcolor }}; padding-right: 35px">
                                <img src="{{ base_url() }}media/homebanner/{{ banner.logo }}" alt="banner logo" class="right banner-title" style="padding-bottom: 10px">
                                <hr style=" border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                <p class="text-right description" style="clear: both; font-family: muliregular; font-size: 12px;">{{ banner.content }}</p>
                            </div>
                        </a>
                    </div>
                        {% if not user.subscribed %}
                            <a href="{{ base_url()~current_lang }}/product-others" class="button right" style="color: #{{ banner.fontcolor }};background-color: #{{ banner.bgcolor }}; border: solid 1px #FFFFFF;box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);padding: 0.85em 3em;letter-spacing: 5px;border-radius: 5px;font-family: muliregular; font-size: 10px;position: absolute;right: 0px;bottom: 36px;">SEE MORE</a>
                        {% endif %}       
                    {% endif %}
                    {% if banner.slug != 'lotte-other' %}
                        
                    <div class="large-7  small-12 columns m-desc" style="padding: 38px 0px;">
                        <a href="{{ base_url()~current_lang }}/product-details/{{ banner.slug }}">
                            <div class="banner-desc" style="color: #{{ banner.fontcolor }}; padding-right: 35px">
                                <img src="{{ base_url() }}media/homebanner/{{ banner.logo }}" alt="banner logo" class="right banner-title" style="padding-bottom: 10px">
                                <hr style=" border: 0; height: 1px; background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));">
                                <p class="text-right description" style="clear: both; font-family: muliregular; font-size: 12px;">{{ banner.content }}</p>
                            </div>
                        </a>
                    </div>
                        {% if not user.subscribed %}
                            <a href="{{ base_url()~current_lang }}/product-details/{{ banner.slug }}" class="button right" style="color: #{{ banner.fontcolor }};background-color: #{{ banner.bgcolor }}; border: solid 1px #FFFFFF;box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);padding: 0.85em 3em;letter-spacing: 5px;border-radius: 5px;font-family: muliregular; font-size: 10px;position: absolute;right: 0px;bottom: 36px;">SEE MORE</a>
                        {% endif %}
                    {% endif %}
                    
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
        <div class="brand-slider">
            <div class="large-10 medium-10 small-10 large-centered medium-centered small-centered columns">
            <ul class="brand-slider-list">
            {% for brand in home_product %}
                <li><a href="{{ brand.link }}"><img src="{{ base_url() }}media/product/{{ brand.image }}"></a></li>
            {% endfor %}    
            </ul>
            </div>
        </div>
        {% if config('config_basic.latest_tvc') | length > 0 %}
        <div class="row section text-center tvc">
            <div class="large-10 columns large-centered">
                <h3 class="title white default-color">LATEST TVC</h3>
                <div class="youtube youtube-color">
                    <div class="video-container">
                        <iframe width="640" height="360" src="{{ config('config_basic.latest_tvc') }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="youtube-color visit-desc">
                    <p><span class="white">VISIT OUR</span> <span class="red">YOUTUBE CHANNEL</span></p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row  event-promo">
            <div class="pre-title">
                <p class="title">PROMO & EVENT</p>
                <div style="clear: both"></div>
            </div>
            <div class="large-7 columns text-center left-event" style="" data-equalizer>
            {% for preview_item in promo_event_preview | slice(0, 1) %}
                <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}">
                    <div class="large-6 middle-6 small-12 columns variant-display .m-variant-display" style="padding-left: 0px;background-color: #f1f1f1" data-equalizer-watch="">
                        <img src="{{ base_url() }}media/{{ preview_item.type }}/{{ preview_item.image }}" style="width: 335px; height: 335px">
                    </div>
                    <div class="large-6 middle-6  small-12 columns" style="background-color: #ebebeb" data-equalizer-watch="">
                        <div class="" style="padding: 50px 40px 40px">
                            <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}" class="link-desc">
                                <img src="{{ base_url() }}assets/img/icon/{{ preview_item.type }}.png">
                                <h3 style="text-transform: uppercase;font-weight:600;font-size: 1.125rem;margin-top: 0.7875rem;color:#505050;font-family: 'Helvetica 65 Medium','Myriad Pro'">{{ preview_item.title }}</h3>
                                <p class="description">{{ preview_item.teaser }}</p>
                                <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}" class="link-desc">SEE MORE...</a>
                            </a>
                        </div>
                    </div>
                </a>
            {% endfor %}
            </div>
            <div class="large-5 columns end right-event">
            {% for preview_item in promo_event_preview | slice(1, (promo_event_preview | length)) %}
                    <div class="row m-thumb-small-event outer-div right-animation">
                        <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}">
                        <div class="large-3 middle-3 small-3 columns thumb-small-event">
                            <img src="{{ base_url() }}media/{{ preview_item.type }}/{{ preview_item.image }}">
                        </div>
                        </a>

                        <div class="large-1 middle-1 small-1 columns sub-icon-promo middle-div"><img src="{{ base_url() }}assets/img/icon/{{ preview_item.type }}.png" class="icon-promo"></div>
                        <div class="large-8 middle-8 small-8 columns middle-div">
                            <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}">
                                <p class="description">{{ preview_item.title }}</p>
                            </a>
                            <a href="{{ base_url()~current_lang }}/{{ preview_item.type }}/detail/{{ preview_item.slug }}" class="link-desc">SEE MORE...</a>
                        </div>
                    </div>
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="large-6 medium-6 small-12 center-block columns see-more-button">
                <a href="{{ base_url()~current_lang }}/promo" class="white">
                    <div class="row see-more text-center default-color">
                        SEE MORE PROMOS
                    </div>
                </a>
            </div>
            <div class="large-6 medium-6 small-12 center-block columns see-more-button">
                <a href="{{ base_url()~current_lang }}/event" class="white">
                    <div class="row see-more text-center default-color">
                        SEE MORE EVENTS
                    </div>
                </a>
            </div>
            {% block back_to_top %}
                {{ parent() }}
            {% endblock back_to_top %}
        </div>
{% endblock frontend_content %}

{% block frontend_js %}
    <script src="{{ base_url() }}assets/bxslider/jquery.bxslider.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.brand-slider-list').bxSlider({
                minSlides: 2,
                maxSlides: 6,
                slideWidth: 170,
                slideMargin: 10,
                infiniteLoop : true,
                hideControlOnEnd : true,
                auto : true,
                moveSlides: 1
            });
        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}