{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="assets/css/custom/product-details.css" rel="stylesheet">
{% endblock %}
{% block menu_product %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row banner">
        <div class="large-12 columns">
            <img src="assets/img/product/banner/banner-chocopie.jpg">
        </div>
    </div>
    <div class="row">
        <div class="pre-title-center">
            <p class="title">VARIANTS</p>
            <div style="clear: both"></div>
        </div>
        <p class="title-desc text-center">Variasi rasa/ kemasan produk Choco Pie</p>
    </div>
    <div class="brand-slider">
        <div class="large-10 medium-10 large-centered medium-centered columns">
            <ul class="text-center slide5" id="brand-slide">
                <li>
                    <div class="variants">
                        <img src="assets/img/product/variants/chocopie-12pcs.jpg" class="bottom-gap">
                        <p class="title-variants">CHOCOPIE 12 PCS</p>
                        <p class="desc">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse </p>
                    </div>
                </li>
                <li>
                    <div class="variants">
                        <img src="assets/img/product/variants/chocopie-12pcs-2.jpg" class="bottom-gap">
                        <p class="title-variants">CHOCOPIE 12 PCS</p>
                        <p class="desc">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse </p>
                    </div>
                </li>
                <li>
                    <div class="variants">
                        <img src="assets/img/product/variants/chocopie-6pcs.jpg" class="bottom-gap">
                        <p class="title-variants">CHOCOPIE 6 PCS</p>
                        <p class="desc">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse </p>
                    </div>
                </li>
                <li>
                    <div class="variants">
                        <img src="assets/img/product/variants/chocopie-6pcs.jpg" class="bottom-gap">
                        <p class="title-variants">CHOCOPIE 6 PCS</p>
                        <p class="desc">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row video" data-equalizer>
        <div class="large-7 medium-7 small-12 columns" data-equalizer-watch>
            <div class="video-container">
                <iframe width="640" height="360" src="https://www.youtube.com/embed/RY6OyRAGRts" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="large-5 medium-5 small-12 columns video-desc" data-equalizer-watch>
            <div class="pre-title">
                <p class="title">TV COMMERCIAL</p>
                <div style="clear: both"></div>
            </div>
            <p class="sub-title">Choco Pie Indonesia</p>
            <p>(Deskripsi iklan)</p>
            <p>Lorem ipsum dolor sit amet, commune facilisi eu nam. Nominati sadipscing id duo. Id duo alia eruditi adipiscing. Rebum audire hendrerit cum ut, et mel minimum offendit intellegebat. </p>
            <p>Cu phaedrum vituperata inciderint nec. Ne nam atqui movet urbanitas. Qui ad qualisque periculis disputationi. Et mei habeo fabellas signiferumque. Aliquip deleniti volutpat ut sea. Sit ea nibh minim. Eros </p>
        </div>
    </div>
    <div class="row socmed">
        <div class="pre-title-center">
            <p class="title">SOCIAL MEDIA</p>
            <div style="clear: both"></div>
        </div>
        <div class="large-6 medium-6 small-12 columns socmed-section">
            <p class="socmed-kind">FACEBOOK <span class="right">Lotte Xylitol ID</span></p>
            <div class="description-socmed">
                <p class="date">25 September 2015</p>
                <ul>
                    <li><p>Lorem ipsum dolor sit amet, commune facilisi eu nam. Nominati sadipscing id duo. Id duo alia eruditi adipiscing. Rebum audire hendrerit cum ut, et mel minimum offendit intellegebat. Cu phaedrum vituperata inciderint nec. Ne nam atqui movet urbanitas.</p></li>
                </ul>
                <div class="">
                    <p class="button-socmed">Like us on Facebook</p>
                    <div style="clear: both"></div>
                </div>

            </div>
        </div>
        <div class="large-6 medium-6 small-12 columns socmed-section">
            <p class="socmed-kind">TWITTER <span class="right">@ Lotte Xylitol ID</span></p>
            <div class="description-socmed">
                <p class="date">25 September 2015</p>
                <p>Lorem ipsum dolor sit amet, commune facilisi eu nam. Nominati sadipscing id duo. Id duo alia eruditi adipiscing. Rebum audire hendrerit cum ut, et mel minimum offendit intellegebat. Cu phaedrum vituperata inciderint nec. Ne nam atqui movet urbanitas.</p>
                <div class="">
                    <p class="button-socmed">Like us on Twitter</p>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row socmed instagram">
        <div class="large-12 medium-12 small-12 columns socmed-section">
            <p class="socmed-kind">INSTAGRAM <span class="right">@ Lotte Xylitol ID</span></p>
            <div class="description-socmed">
                <div class="row">
                    <div class="large-2 medium-2 small-12 columns">
                        <img src="assets/img/product/instagram-profile/chocopie-profile.jpg">
                    </div>
                    <div class="large-10 medium-10 small-12 columns">
                        <p class="date">Brand Name</p>
                        <div class="large-9 medium-8 small-12 columns">
                            <p>Lorem ipsum dolor sit amet, commune facilisi eu nam. Nominati sadipscing id duo. Id duo alia eruditi adipiscing. Rebum audire hendrerit cum ut, et mel minimum offendit intellegebat. Cu phaedrum vituperata inciderint nec. Ne nam atqui movet urbanitas.</p>
                        </div>
                        <div class="large-3 medium-4 small-12 columns">
                            <p class="button-socmed instagram">Follow us on Instagram</p>
                            <div style="clear: both"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    <script src="assets/bxslider/jquery.bxslider.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function(){
            $('.bxslider').bxSlider();
            $('.slide5').bxSlider({
                minSlides: 2,
                maxSlides: 3,
                slideWidth: 340,
                slideMargin: 10,
                infiniteLoop : false,
                hideControlOnEnd : true
            });

        });
    </script>
{%  endblock %}