{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/search.css" rel="stylesheet">
{% endblock %}

{% block frontend_content %}
    <div id='content' class="tab-content search-content">
        <div class="active" id="searchactive">
            <div class="row search">
                <div class="search-header">
                    <div class="large-9 medium-12 small-12 columns">
                            <h2 class="search-results">SEARCH RESULTS</h2>
                        </div>
                    <div class="large-3 medium-12 small-12 columns search-for">
                            <h3>Your Search For :</h3>
                            <p>{{ keyword }}</p>
                        </div>
                    <hr class="search-line">
                </div>
                <div class="row">
                    {% if search_result | length < 1 %}
                    <div class="no-result">
                        <div class="content-result">
                            <img src="{{ base_url() }}assets/img/icon/icon-no-search.png">
                            <p class=""style="font-size: 16px;font-weight: bold;font-weight: bold;color: #ffffff">{{ lang('txt-no-result') }}</p>
                        </div>
                    </div>
                    {% endif %}
                {% for res in search_result if res.status == 'event' %}
                    <div class="text-center large-6 medium-6 small-6 columns hidden">
                        <div class="product-list" id="search-index-{{ loop.index }}">
                            <div class="wrapper-product-image" id="imgsearch">
                                <img alt="{{ res.title }}" src="{{ base_url() }}media/event/{{ res.image }}" style="max-width:200px; max-height:200px;" />
                            </div>
                            <p class="product-name">{{ res.title }}</p>
                        </div>
                        </div>
                {% endfor %}
                </div>

                {% for res in search_result if res.status == 'product' %}
                    <div class="text-center large-3 medium-3 small-6 columns end hidden" id="search-index-{{ loop.index }}">
                        <a href="#">
                        <div class="product-list">
                            <div class="wrapper-product-image" id="imgsearch">
                                <img alt="{{ res.title }}" src="{{ base_url() }}media/product/{{ res.image }}" />
                            </div>
                            <p class="product-name">{{ res.title }}</p>
                        </div>
                        </a>
                    </div>
                {% endfor %}
                
                {% for res in search_result if res.status == 'promo' %}
                <div class="text-center large-3 medium-3 small-6 colums hidden" id="search-index-{{ loop.index }}">
                    <div class="product-list">
                        <div class="wrapper-product-image" id="imgsearch">
                            <img alt="{{ res.title }}" src="{{ base_url() }}media/promo/{{ res.image }}" />
                        </div>
                        <p class="product-name">{{ res.title }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block front_js %}
    {{ parent() }}
    <script type="text/javascript">
        var curr_idx = 0;
        function show_more_search() {
            for (inc = 0 ; inc < 4 ; inc++) {
                curr_idx++;
                var obj = $('#search-index-'+curr_idx);
                if (obj.length > 0) {
                    obj.removeClass('hidden');
                    $('#cnt-shown-product').text(curr_idx);
                }
            }
            if (curr_idx >= {{ search_result | length }}) {
                $('#btn-show-more-search').remove();
            }
        }
        $('#btn-show-more-search').click(function(){
            show_more_search();
        });
        show_more_search();
    </script>
{% endblock %}