{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url()}}assets/bxslider/jquery.bxslider.css" rel="stylesheet">
    <link href="{{ base_url() }}assets/css/custom/event-detail.css" rel="stylesheet">
{% endblock %}
{% block menu_promo %}
    is-active
{% endblock %}

{% block frontend_content %}
    <div class="row event-detail" data-equalizer>
        <div class="large-2 medium-3 small-12 columns left-section" data-equalizer-watch>
            <ul class="accordion year" data-accordion="myAccordionGroup" role="tablist">
            {% for event_year, event_data in event_list %}
                <li class="accordion-navigation content-nav">
                    <a href="#panel1c2015{{ event_year }}">{{ event_year }}<span class="year-icon"></span></a>
                    <div id="panel1c2015{{ event_year }}" class="content {{ loop.first ? 'active' : '' }}">
                        <ul class="month">
                        {% for event_month, detail in event_data %}
                            <li class="month-detail"><a href="{{ base_url()~current_lang }}/event/{{ event_year }}/{{ event_month }}">{{ detail.month_display }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="large-9 medium-9 small-12 columns right-section" data-equalizer-watch>
        {% for event in event_detail %}
            <div class="row banner-event">
                <div class="large-10 medium-10 small-12 text-center columns">
                    <img src="{{ base_url() }}media/event/{{ event.banner }}" class="event-banner">
                </div>
                {#<div class="large-2 medium-2 small-12 columns share-to">#}
                    {#Share to :#}
                    {#<ul>#}
                        {#<li><img class="social-media facebook"> </li>#}
                        {#<li><img class="social-media twitter"> </li>#}
                        {#<li><img class="social-media gplus"> </li>#}
                    {#</ul>#}
                {#</div>#}
            </div>
            <div class="row">
                <div class="large-10 medium-10 columns">
                    <h3 class="title-event">{{ event.title }}</h3>
                    <p class="date-desc">{{ event.date }}</p>
                    <div class="pre-tag-event">
                        <p class="tag-event">
                            <span><img src="{{ base_url() }}assets/img/icon/event.png"></span>
                            Event
                        </p>
                        <hr class="gap-line"/>
                        <div style="clear: both"></div>
                    </div>
                    <p>{{ event.content }}</p>
                    {% if event_slide | length < 1 %}
                    {% else %}
                        <div class="brand-slider">
                            <div class="large-12 medium-12 small-12 large-centered medium-centered columns end">
                                <ul class="text-center slide5" id="brand-slide">
                                    {% for slide in event_slide %}
                                        <li>
                                            <div class="event-display">
                                                <img src="{{ base_url() }}media/event/{{ slide.image }}" class="bottom-gap">
                                            </div>
                                            <div class="event-desc">
                                                <p class="desc">{{ slide.desc }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if event_publication | length > 0 %}
                    <div class="link-event">
                        <p>Publikasi media :</p>
                        <ul>
                        {% for publication in event_publication %}
                            <li><a href="{{ publication.url }}" target="_blank">{{ publication.url }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <ul class="large-block-grid-2 related-link">
                    {% for event in event_prev %}
                        <li>
                            <a href="{{ base_url()~current_lang }}/event/detail/{{ event.slug }}"><span><img class="icon-prev-next prev"></span>{{ event.title }}</a>
                        </li>
                    {% endfor %}
                    {% for event in event_next %}
                        <li>
                            <a href="{{ base_url()~current_lang }}/event/detail/{{ event.slug }}"><span>{{ event.title }}<img class="icon-prev-next next"></span></a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
    {% block back_to_top %}
        {{ parent() }}
    {% endblock back_to_top %}
{% endblock frontend_content %}

{% block frontend_js %}
    <script src="{{ base_url()}}assets/bxslider/jquery.bxslider.js"></script>
    <script>
        $(document).foundation();
        $(document).ready(function(){
            $('.bxslider').bxSlider();
            $('.slide5').bxSlider({
                minSlides: 1,
                maxSlides: 1,
                slideWidth: 900,
                slideMargin: 10,
                infiniteLoop : false,
                hideControlOnEnd : true
            });

        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}
