{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/event.css" rel="stylesheet">
    <style type="text/css">
    </style>
{% endblock %}

{% block frontend_content %}
    <div class="row event" data-equalizer>
        {% if event_list | length < 1 %}
            <div class="no-event">
                <div class="content-event">
                    <img src="{{ base_url() }}assets/img/icon/icon-no-event.png">
                    <p class=""style="font-size: 16px;font-weight: bold;font-weight: bold;color: #ffffff">{{ lang('txt-no-event') }}</p>
                </div>
            </div>
        {% endif %}
        <div class="large-2 medium-2 small-12 columns sidebar-year" data-equalizer-watch>
            <ul class="accordion year" data-accordion>
            {% for event_year, event_data in event_list %}
                <li class="accordion-navigation content-nav">
                    <a href="#panel1c{{ event_year }}">{{ event_year }}<span class="year-icon"></span></a>
                    <div id="panel1c{{ event_year }}" class="content {{ loop.first ? 'active' : '' }}">
                        <ul class="month">
                        {% for event_month, detail in event_data %}
                            <li class="month-detail"><a onclick="javascript(0)" href="{{ base_url()~current_lang }}/event/{{ event_year }}/{{ event_month }}">{{ detail.month_display }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="large-9 medium-9 small-12 columns wrapper-content" data-equalizer-watch>
        {% for event_year, event_data in event_display  %}
            {% for data in event_data %}
            <div class="row" data-equalizer>
                <div class="large-3 medium-3 small-12 small-only-text-center columns m-displaypic" style="padding-right: 0" data-equalizer-watch>
                    <a href="{{ base_url()~current_lang }}/event/detail/{{ data.slug }}" class="th" style="border: none">
                        <img src="{{ base_url() }}media/event/{{ data.image }}">
                    </a>
                </div>
                <div class="large-9 medium-9 small-12 columns reset" data-equalizer-watch>
                    <p class="title-event">{{ data.title }}</p>
                    <p class="date-event">{{ data.date }}</p>
                    <hr class="hr-event">
                    <p class="detail-event">{{ data.teaser }} ...</p>
                    <div class="large-4 medium-5 small-12 columns m-readmore" style="padding: 0; margin-top: 0.585rem">
                        <a href="{{ base_url()~current_lang }}/event/detail/{{ data.slug }}" class="btn-readmore">READ MORE</a>
                    </div>

                </div>
            </div>
            <hr class="hr-divider">

            {% endfor %}
        {% endfor %}
        </div>

    </div>


{% endblock %}
{% block frontend_js %}
    <script src="{{ base_url() }}assets/foundation/foundation.accordion.js"></script>
    <script type="text/javascript">
        $(document).foundation({

        });
        $(document).ready(function(event){
//           $('.event .content-nav > a').toogleClass('hidden');
           $('.year > .content-nav > .content').bind('click',function() {
               $('.year > .content-nav > .content').removeClass('active');
               $(this).addClass('active');
           })
        });
//        $(document).foundation({
//            accordion: {
//                // specify the class used for accordion panels
//                content_class: 'content',
//                // specify the class used for active (or open) accordion panels
//                active_class: 'active',
//                // allow multiple accordion panels to be active at the same time
//                multi_expand: false,
//                // allow accordion panels to be closed by clicking on their headers
//                // setting to false only closes accordion panels when another is opened
//                toggleable: true
//            }
//        });
    </script>
{% endblock frontend_js %}