{% extends "pages/views/mobile_template.twig" %}

{% block frontend_content %}
    <div class="news-wrapper">
        <div class="mobile-news">
            <h1>News Release</h1>
                <select onchange="location = this.options[this.selectedIndex].value;">
                    {% for news_year,news_item in news_data %}
                        {% set news_year_url = base_url()~current_lang~'/news/archive/'~news_year %}
                        {% if news_year == news_latest_year %}
                            {% set news_year_url = base_url()~current_lang~'/news' %}
                        {% endif %}
                        <option value="{{ (news_year == news_selected_year) ? 'javascript:' : news_year_url }}" {{ (news_year == news_selected_year) ? 'selected' : '' }}>{{ news_year }}</option>
                    {% endfor %}
                </select>
        </div>
        {% for news_year,news_item in news_data if news_year == news_selected_year %}
            {% for _item in news_item %}
                <div class="news-content">
                    <div class="news-date">
                        {{ _item.date }}
                    </div>
                    <div class="news-title">
                        <h2><a href="{{ base_url() }}media/news/doc{{ current_lang == 'en' ? '' : 'id' }}/{{ _item.doc_filename }}" target="_blank">{{ _item.doc }}</a></h2>
                    </div>
                    <hr/>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div style="height: 50px;"></div>
{% endblock %}