.about-us {
    clear: both;
    padding-top: 80px;
    margin-bottom: 80px;
}

p {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
.pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 0rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.pre-title > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    font-size: 24px;
    color: #505050;
    float: left;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
}
.pre-title-center {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.pre-title-center > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
}
/*greeting*/
.greeting-detail > div {
    margin-left: -9%;
}
.greeting-detail > div > .pre-title {
    margin-left: 0px;
}
.greeting-detail > div > .pre-title > p.title:first-letter {
    font-size: 200%!important;
}
p.greeting-img {
    position: absolute;
    right: 25%;
}
.greeting {
    position: relative;
}
/*@keyframes show {*/
    /*0%   { opacity: 0; }*/
    /*100% { opacity: 1; }*/
/*}*/
/*.greeting {*/
    /*animation: show 5s;*/
/*}*/

/*end greeting*/
/*vision*/
.pre-vision {
    position: relative;
    min-height: 518px;
}
.vision-section {
    clear: both;
    padding-top: 80px;
    padding-bottom: 80px;
}
.bg-core-values {
    background-color: #f7f7f7;
    margin-bottom: 80px;
}
.vision-section p {
    font-size: 1rem;
    z-index: 1;
    position: relative;
}
.img-vision-scale{
    width: 100%;
    max-width: 391px;
    max-height: 391px;
    margin-left: 64%;
    padding-bottom: 32.667%;
    background-image: url("../../img/about-us/vision-about-us.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    margin-top: -1%;
    animation: show 5s;
}
.visi {
    padding-bottom: 30px;
}
@keyframes move {
    from { top: 0; left: 0; }
    to   { top: 100px; left: 100px; }
}
.visi-group {
    animation: move 10s steps(10) infinite alternate;
}
/*end vision*/

/*definition*/
.definition {
    padding-bottom: 50px;
}
.core-values {
    padding-top: 40px;
    color: #707070;
}
.values-list {
    background-color: #f4f4f4;
    position: relative;
}

.values-list .code-desc > p {
    padding: 25px 30px 65px 60px;
    color: #FFFFFF;
}
.values-list > p {
    padding: 25px 30px 65px 60px;
}
.values-list.passions {
    background-color: #ff6e6e;
}
.values-list.action-oriented {
    background-color: #ee7f22;
}
.values-list.responsibility {
    background-color: #18cec3;
}
.values-list.team-work {
    background-color: #b23f73;
}
.values-list.integrity {
    background-color: #ed2129;
}
.core-icon {
    position: absolute;
    float: right;
    bottom: -9px;
    right: -9px;
}
.bottom-gap {
    margin-bottom: 50px;
}
.bg-core-values .pre-title > p.title {
    z-index: 4;
    position: relative;
}
.core-values > div.bottom-gap:hover {
    cursor: default;
}
.title-core {
    font-family: muliregular;
    font-size: 18px;
    padding-bottom: 20px;
}
.accordion > .accordion-navigation > div.content {
    display: none;
    overflow: hidden;
    transition: height 0.3s ease-in-out 0s;
}
/*end difiniton*/
/*expansion*/
.expansion {
    padding-top: 50px;
}
.expansion .pre-title-center {
    margin-bottom: 30px;
}
.img-expansion-scale {
    width:100%;
    margin-left: 50%;
    padding-bottom: 38.667%; /* 960px/1440px */
    background-image:url('../../img/about-us/expansion.png');
    background-size:cover;
    background-position:center; /* IE fix */
    max-width: 571px;
    max-height: 455px;
    position: relative;
    margin-top: 10%;
}
.expansion p {
    margin-bottom: 0;
}
.expansion-list {
    z-index: 4!important;
    position: relative;
    margin-bottom: 50px;
}
.expansion-list > li {
    padding-bottom: 10px;
}
.expansion-list > li > div{
    width: 100%;
    border: 1px solid #ebebeb;
    padding: 20px;
    border-left: 10px solid #ebebeb;
}
.expansion-list .title-list{
    font-family: "Helvetica 65 Medium" , "myriad pro";
    color: #505050;
    font-weight: 800;
}
.expansion-img {
    position: absolute;
    margin-top: -236px;
}
.expansion-list > li > div {
    background-color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
}
.expansion-list > li > div:hover {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}
.expansion-list > li > div:hover, .expansion-list > li > div:focus, .expansion-list > li > div:active {
}
/*end expansion*/
/*brand slider*/
.brand-slider {
    margin-top: 25px;
    padding-bottom: 40px;
    margin-bottom: 78px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.bx-prev {
    margin-left: -7%;
}
.bx-next {
    margin-right: -6%;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
}
.brand-slide[class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0px 0.625rem 0rem;
}
.bx-pager.bx-default-pager {
    display: none;
}
/*end brand slider*/
/*history*/
.history {
    margin-bottom: 150px;
}
.history > p {
    letter-spacing: 5px;
    margin-bottom: 2.5rem;
}
.present img {
    margin-bottom: 10px;
}
.time {
    margin-bottom: 10px;
}
#timeline{
    background:url(../../img/about-us/vertical-line.gif) top center repeat-y;
    /*width:100%;*/
    padding:50px 0;
    margin:0 auto 25px auto;
    overflow:hidden;
    list-style:none;
    position:relative;
}
#timeline:before,
#timeline:after{
    content: " ";
    width: 10px;
    height: 10px;
    display: block;
    background: #f13a3a none repeat scroll 0% 0%;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -5px;
    border-radius: 20px;
}
#timeline:after{
    margin-left:-7px;
    background:none;
    border:7px solid transparent;
    border-top-color:#f43059;
    width:0;
    height:0;
    top:auto;
    bottom:-7px;

    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
}
#timeline > li{
    position:relative;
    clear:both;
    float:left;
    /*width:318px;*/
    padding:10px;
    background:#ebebeb;
    text-align:right;
    margin:0 0 10px 0;

    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    -moz-box-shadow:0 1px #fff inset;
    -webkit-box-shadow:0 1px #fff inset;
    box-shadow:0 1px #fff inset;
}
#timeline > li:before,
#timeline > li:after{
    content: " ";
    width: 102px;
    height: 1px;
    position: absolute;
    left: 100%;
    top: 50%;
    background: #f13a3a;
}
#timeline > li:nth-of-type(odd),
#timeline > li:nth-of-type(even){
    margin:-10px 0 0 0;
}
#timeline > li:nth-of-type(even){
    float:right;
    text-align:left;
}
#timeline > li:nth-of-type(even):after{
    background:#f13a3a;
    left:auto;
    right:100%;
}
#timeline time{
    font-family:"Helvetica 65 Medium";
    font-size: 24px;
    color: #505050;

}
#timeline ul > li , #timeline p , #timeline ul > li > ol > li {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
    list-style: none;
}
#timeline ul > li > ol > li {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
#timeline ul > li:before {
    content:"-";
    position:relative;
    margin-left: -10px; /* optional, for multiline li element */
    left: -5px;
}
#timeline > li > div {
    border: 2px solid #ffffff;
    padding: 30px;
    text-align: left;
    list-style: outside;
}
.logo-top-history {
    margin-bottom: 20px;
}
/*end history*/
@media only screen and (max-width: 1024px) {
    .greeting {
        text-align: center;
    }
    .greeting-detail > div {
        margin-left: 15px;
        margin-right: 15px;
    }
    .greeting-detail > div > .pre-title {
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 1.25rem;
        padding: 3.375rem 15px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .pre-title > p.title {
        font-family: 'Helvetica 65 Medium','myriad pro';
        color: #505050;
        border-bottom: 4px solid #EBEBEB;
        margin-bottom: 0px;
        display: inline-block;
    }
    /*vision*/
    .img-vision-scale {
        opacity: 0.4;
        padding-bottom: 38%;
        margin-left: 50%;
    }
    /*end vision*/
    /*definition*/
    .values-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    /*end definition*/
    /*expansion*/
    .expansion-list > li {
        text-align: center;
    }
    .expansion-list > li > div {
        display: block;
    }
    .expansion-img {
        display: none;
    }
    /*end expansion*/
    /*history*/
    .history .history-timeline {
        margin-left: 15px;
        margin-right: 15px;
    }
    .history-timeline > ol > li {
        margin-bottom: 30px!important;
    }
    #timeline > li::before, #timeline > li::after {
        width: 85px;
    }
    /*end history*/
}
@media only screen and (max-width: 800px)  {
    #timeline > li::before, #timeline > li::after {
        width: 65px;
    }
    .img-vision-scale {
        padding-bottom: 49%;
    }
}
@media only screen and (max-width: 768px) {
    #timeline > li::before, #timeline > li::after {
        width: 61px;
    }
    .img-vision-scale {
        padding-bottom: 51%;
        margin-left: 45%;
    }
}
@media only screen and (max-width: 640px) {
    .greeting-detail > div {
        margin-left: 0%;
    }
    .greeting-detail > div > .pre-title {
        border-bottom: 1px solid #EBEBEB;
        margin-bottom: 1.25rem;
        padding: 3.375rem 15px 0px 0px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .pre-title > p.title {
        font-family: 'Helvetica 65 Medium','myriad pro';
        color: #505050;
        border-bottom: 4px solid #EBEBEB;
        margin-bottom: 0px;
        display: inline-block;
    }
    /*vision*/
    .img-vision-scale {
        opacity: 0.2;
        padding-bottom: 63%;
        margin-left: 35%;
    }
    /*end vision*/
    /*definition*/
    .values-list {
        margin-left: 15px;
        margin-right: 15px;
    }
    /*end definition*/
    /*expansion*/
    .expansion-list > li {
        text-align: center;
    }
    .expansion-list > li > div {
        display: block;
    }
    .expansion-img {
        display: none;
    }
    /*end expansion*/
    /*history*/
    .history .history-timeline {
        margin-left: 15px;
        margin-right: 15px;
    }
    .history-timeline > ol > li {
        margin-bottom: 30px!important;
    }
    /*end history*/
}

@media only screen and (max-width: 480px) {
    .img-vision-scale {
        opacity: 0.2;
        padding-bottom: 82%;
        margin-left: 9%;
    }
}

@media only screen and (max-width: 360px) {
    .img-vision-scale {
        opacity: 0.2;
        padding-bottom: 100%;
        margin-left: 0%;
    }
}
