.accordion {
    border: none;
    margin-left: 0 ;
    margin-bottom: 50px;
}
.accordion .accordion-navigation, .accordion dd {
    margin-bottom: 10px !important;
}
.accordion .accordion-navigation > a, .accordion dd > a , .no-job-desc {
    font-family: 'Helvetica 65 Medium';
    font-size: 18px;
    color: #505050;
    padding: 30px;
}
.accordion .accordion-navigation > a:hover , .accordion .accordion-navigation > a:hover > span {
    background-color: #f4f4f4;
    color: #f13a3a;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: #f4f4f4 none repeat scroll 0% 0%;
    border-bottom: 1px solid #cccccc;
}
.accordion .accordion-navigation.active .content.active {
    padding: 30px;
}
.career-title:hover .year-icon:before {
    border-color: transparent transparent transparent #F13A3A;
}
.accordion .accordion-navigation > .content.active {
    background-color: #f4f4f4;
}
.career {
    clear: both;
    padding-top: 80px;
    margin-bottom: 100px;
}
.career-view {
    float: right;
    font-family: muliregular;
    font-size: 12px;
    color: #525d63;
    line-height: 2.5;
}
.pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.pre-title > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    float: left;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
}
.pre-title-center {
    clear: both;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 40px;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.pre-title-center.first-child {
    padding: 0px 15px 0px 0px;
}
.pre-title-center > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
}
p , ol , ul{
    font-family: muliregular;
    font-size: 12px;
    color: #525d63;
}
a[href^="mailto"] {
color: #00aeef;
}
.year-icon{
    margin-left: 0.625rem;
}
/*//The accordion is closed*/
.year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: transparent transparent transparent #959595;
}
/*//The accordion is open*/
.active .year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: #959595 transparent transparent transparent;
}
.banner {
    margin-bottom: 80px;
}
.no-career {
    margin-bottom: 80px;
}
.no-career p {
    /*line-height: 0;*/
    margin-bottom: 0;
}
.no-career-desc {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    align-items: center;
}
@media only screen and (max-width: 640px) {
    .career {
        padding-top: 10px;
    }
    .accordion {
        margin-bottom: 40px;
    }
}