.contact-us {
    clear: both;
    padding-top: 70px;
    margin-bottom: 80px;
}
.pre-title-center {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 40px;
    padding: 3.375rem 15px 0px 0px;
    margin-right: 15px;
    text-align: center;
}
.pre-title-center > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
}
.address {
    line-height: 1.6;
    background-color: #f4f4f4;
    padding: 35px;
}
.address > p.title {
    font-family: "Helvetica 65 Medium","myriad pro";
    font-size: 18px;
    color: #505050;
}
.address > p , .address > address , address > a {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
address {
    font-style: normal;
}
form input[type="text"], form input[type="email"] , textarea{
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
textarea {
    min-height: 217px;
}
button[type="send"] {
    font-family: muliregular;
    font-size: 10px;
    color: #ffffff;
    background-color: #f13a3a;
    border-radius: 5px;
    letter-spacing: 5px;
    padding: 20px 60px;
    margin-left: 0.9375rem;
}
.name-field.error input[type="text"] , .email-field.error input[type="email"] , .textarea-field.error textarea {
    border-color: #F13A3A;
}
.textarea-field.error textarea {
    margin-bottom: 15px;
}
.g-recaptcha {
    margin-bottom: 20px;
}
button[type=send] {
    margin-bottom: 40px;
}
.reveal-modal {
    text-align: center;
    padding: 33px;
    background-color: #FFF;
    border: 3px solid #39b54a;
    box-shadow: 0px 0px 0px 5px #FFF;
}
.reveal-modal img {
    margin-bottom: 20px;
}
.reveal-modal p {
    font-family: muliregular;
    font-size: 16px;
    color: #707070;
    margin-bottom: 0;
    font-weight: 600;
}
.reveal-modal h2 {

}
@media only screen and (max-width: 1024px) {
    iframe {
        width: 100%;
    }
    .g-recaptcha {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 640px) {
    .contact-us {
        padding-top: 10px;
    }
    .address {
        margin-bottom: 20px;
    }
}