/*font*/
@font-face {
    font-family: 'muliregular';
    src: url('../../fonts/custom/muli-regular-webfont.eot');
    src: url('../../fonts/custom/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/custom/muli-regular-webfont.woff2') format('woff2'),
    url('../../fonts/custom/muli-regular-webfont.woff') format('woff'),
    url('../../fonts/custom/muli-regular-webfont.ttf') format('truetype'),
    url('../../fonts/custom/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'nextlight';
    src: url('../../fonts/custom/font-webfont.eot');
    src: url('../../fonts/custom/font-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/custom/font-webfont.woff2') format('woff2'),
    url('../../fonts/custom/font-webfont.woff') format('woff'),
    url('../../fonts/custom/font-webfont.ttf') format('truetype'),
    url('../../fonts/custom/font-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Helvetica 65 Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica 65 Medium'), url('../../fonts/custom/HelveticaNeue-Medium.woff') format('woff');
}
/*end font*/
/*global*/
body {
    font-family: muliregular;
    font-size: 0.75rem;
}
.default-color {
    background-color: #f13a3a;
}
.youtube-color {
    background-color: #000000;
}
.white {
    color: white;
}
.red {
    color: #f13a3a;
}
.grey {
    background-color: #ebebeb;
}
.f-grey {
    color: #707070;
}
.title {
    font-size: 1.5rem;
    font-family: muliregular;
}
.section {
    margin-bottom: 24px;
}
.description {
    font-family: muliregular;
    font-size: 12px;
}
.link-desc {
    letter-spacing: 5px;
    font-family: muliregular;
    font-size: 10px;
}
.description {
    font-family: 'Helvetica 65 Medium','myriad pro';
    font-size: 14px;
}
/*end global*/
/*header footer*/
.logo {
    list-style: none;
}
.logo > li {
    display: inline-block;
}
.logo .has-form {
    position: relative;
}
.logo .has-form input[type="text"] {
    margin: 0;
    height: 1.8rem;
    border-radius: 25px;
    border-style: none;
    color: #707070;
    font-size: 0.75rem;
}
.logo .has-form a.alert.button.expand {
    margin-bottom: 0 !important;
    position: absolute;
    top: -6px;
    right: 2%;
    background: transparent none repeat scroll 0% 0%;
    color: #FFF;
    width: 28px;
    height: 27px;
}
.logo .has-form a.alert.button.expand > img {
    margin-top: -14px;
}
.lang {
    list-style: none;
    margin-left: 0;
}
.lang > li {
    display: inline-block;
}
.f-dropdown {
    text-align: center;
}
.f-dropdown li a {
    font-family: muliregular;
    font-size: 12px;
    display: block;
    padding: 15px;
    color: #555;
}
.menu {
    border-bottom: 1px solid #EBEBEB;
    -moz-box-shadow : 0px 13px 20px -25px #000;
    -webkit-box-shadow : 0px 13px 20px -25px #000;
    box-shadow: 0px 13px 20px -25px #000;
    z-index: 1;
}

.menu-bar.primary {
    background: #ffffff none repeat scroll 0% 0%;
}
.menu-bar.primary > li > a {
    line-height: 1;
    padding-top: 2.125rem;
    padding-bottom: 1.8125rem;
}
.menu-bar.primary > li > a > span {
    /*font-size: 0.75rem;*/
    line-height: 0;
    margin-bottom: 1rem;
}
.menu-bar[class*="block-grid-"] > li {
    padding: 0rem 0.625rem 0rem;
    border-right: 1px solid #EBEBEB;
}
.menu-bar[class*="block-grid-"] > li:first-child {
    border-left: 1px solid #EBEBEB;
}
.menu-bar.primary > li > a {
    color: #707070;
    font-size: 0.75rem;
    font-family: muliregular;
}
.menu-bar li.is-active {
    border-bottom: 3px solid rgb(241, 58, 58);
}
.menu-bar > li:hover {
    background-color: #f4f4f4;
}
.menu-bar .button {
    background-color: transparent;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: -10px;
    margin-right: -10px;
}
.menu-bar .button > ul {
    margin-left: 10px;
}
.menu-bar.primary .is-active > a {
    background-color: transparent;
    color: #f13a3a;
}
.menu-bar.primary > li.is-active > a:hover {
    color: #f13a3a;
}
.menu-bar.primary > li:hover , .menu-bar.primary > li > a:hover {
    background: #ebebeb none repeat scroll 0% 0%;
    color: #707070;
}
input[type="text"]{
    padding: 0.5rem 1rem;
}
.f-dropdown:before ,.f-dropdown:after {
    display: none!important;
}

footer {
    font-family: muliregular;
    font-size: 0.75rem;
}
footer li {
    font-size: 0.875rem;
}
footer .copyright {
    margin: 4rem 0px 2.375rem;
}
footer .copyright a{
    color: #707070;
}
.no-padd {
    padding-left: 0px;
    padding-right: 0px;
}
.gap {
    border-right: 1.5px solid;
    margin-bottom: 15px;
}
.show-for-small-only .tab-bar {

}
.show-for-small-only .tab-bar .menu-icon {
    color: #000;
}
.show-for-small-only .tab-bar .menu-icon span::after {
    box-shadow: 0px 0px 0px 1px #fff, 0px 7px 0px 1px #fff, 0px 14px 0px 1px #fff;
    background-color: #ffffff;
}
.tab-bar .menu-icon span::after {
    height: 1px;
}

.show-for-small-only > nav > img {
    position: relative;
}
/*end header footer*/
/*icon-menu*/
.ci-product:before {
    content: url(../../img/icon/icon-book.png);
}
.ci-home:before {
    content: url(../../img/icon/icon-home.png);
}
.ci-info:before {
    content: url(../../img/icon/icon-info.png);
}
.ci-career:before {
    content: url(../../img/icon/icon-career.png);
}
.ci-promotion:before {
    content: url(../../img/icon/icon-promotion.png);
}
.ci-contact:before {
    content: url(../../img/icon/icon-contactus.png);
}
li.is-active .ci-product:before {
    content: url(../../img/icon/icon-book-active.png);
}
li.is-active .ci-home:before{
    content: url(../../img/icon/icon-home-active.png);
}
li.is-active .ci-info:before{
    content: url(../../img/icon/icon-info-active.png);
}
li.is-active .ci-promotion:before {
    content: url(../../img/icon/icon-promotion-active.png);
}
li.is-active .ci-career:before {
    content: url(../../img/icon/icon-career-active.png);
}
li.is-active .ci-contact:before {
    content: url(../../img/icon/icon-contactus-active.png);
}
/*end icon menu*/
/*ie8*/
.menu-bar.primary > li > a {
    padding-top: 1px\9;
    padding-bottom: 35px\9;
}
.menu-bar a {
    display: table\9;
    text-align: center\9;
    width: 100%\9;
}
.f-dropdown {
    z-index: 10\9;
}
.menu-bar.primary > li > a > span {
    display: table-caption\9;
    margin-top: 35px\9;
}
/*end ie8*/
/*back to top*/
.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #888888;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 40px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
    background-color: #505050;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 0.5;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
/*end back to top*/
@media only screen and (max-width: 1366px) {
    .logo > img {
        width: 130px;
    }
}
@media only screen and (max-width: 1024px) {
    .no-gap {
        border-right: none;
        margin-bottom: 15px;
    }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (max-width: 640px) {
    .bx-wrapper {
        margin: 0px auto 0px!important;
    }
    .left-off-canvas-menu {
    }
    .left-off-canvas-toggle.menu-icon {
        margin: 0 auto;
    }
    .move-right .exit-off-canvas {
        left: auto;
        position: inherit;
        right: auto;
        top: auto;
        z-index: 1002;
        display: block;
        cursor: pointer;
        transition: background 300ms ease 0s;
        background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%;
        bottom: auto;
    }
    .has-submenu .left-submenu.move-right {
        width: 100%;
    }
    ul.off-canvas-list > li.has-submenu  > ul.left-submenu.move-right > li {
        width: 100%;
    }
    li.has-submenu > .left-submenu.move-right > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    ul.off-canvas-list .close-toogle {
        position: relative;
    }
    ul.off-canvas-list .close-toogle > .exit-off-canvas {
        position: absolute;
        right: 40px;
    }
    .tab-bar {
        height: 111px;
        line-height: 6.813rem;
    }
    .tab-bar .menu-icon {
        height: 6.813rem;
    }
    .tab-bar .menu-icon span::after {
        height: 2px;
        width: 25px;
        border-radius: 25%;
    }
    .show-for-small-only:not(.ng-hide), .show-for-small-only[class*="grid-block"]:not(.ng-hide) {
        display: block !important;
    }
    .m-search {
        text-align: center;
    }
    /*search animation*/
    input[type="search"] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
        position: absolute !important;
        top: 35px !important;
        right: 40px !important;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button {
        display: none;
    }

    /*input[type=keyword] {*/
        /*width: 0;*/
        /*height: 0;*/
    /*}*/
    input[type=search] {
        background: #ededed url(../../img/icon/icon-search.png) no-repeat center;
        border: solid 1px #ccc;
        padding: 0px 0px 0px 28px;
        width: 0;
        height: 27px;
        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }
    input[type=search]:focus {
        width: 200px;
        background-color: #fff;
        border-color:#ccc;
    }
    input:-moz-placeholder {
        color: #999;
    }
    input::-webkit-input-placeholder {
        color: #999;
    }
    /*end search animation*/
    /*aside menu*/
    .off-canvas-wrap.move-right .left-off-canvas-menu {
        background-color: #FFFFFF;
        width: 100%;
        transform: translate3d(0%, 0px, 0px);
    }
    .move-right > .inner-wrap {
        transform: translate3d(0, 0px, 0px);
    }
    ul.off-canvas-list li {
        text-align: center;
    }
    ul.off-canvas-list li a {
        border-bottom: 1px solid #efefef;
        display: block;
        padding: 0.66667rem;
        transition: background 300ms ease 0s;
        color: #707070;
        font-family: muliregular;
        font-size: 12px;
    }
    ul.off-canvas-list li a:hover {
        background: #f4f4f4 none repeat scroll 0% 0%;
    }
    .left-submenu {
        background: #FFFFFF none repeat scroll 0% 0%;
    }
    .left-submenu .back > a {
        background: #f13a3a none repeat scroll 0% 0%;
        color: #FFFFFF;
    }
    .left-submenu .back:hover > a {
        background: #FFFFFF none repeat scroll 0% 0%;
        color: #f13a3a;
    }
    ul.off-canvas-list > li > ul > li {
        width: 43%;
    }
    ul.off-canvas-list > li:first-child {
        padding-top: 45px;
        padding-bottom: 40px;
        border-bottom: 1px solid #efefef;
    }
    ul.off-canvas-list > li > a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .move-right .exit-off-canvas {
        padding: 0;
        box-shadow: none;
    }
    /*end aside menu*/
    /*triangle icon*/
    .left-off-canvas-menu ul.off-canvas-list li.has-submenu > a::after {
        content: "";
        margin-left: 0.5rem;
        display: inline-block;
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #959595;
    }
    .left-submenu .back > a::before {
        content: "";
        margin-right: 0.5rem;
        display: inline-block;
        width: 0px;
        height: 0px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid #ffffff;
    }
    .left-submenu:hover .back > a::before {
        border-right-color: #F13A3A;
    }
    .left-submenu:hover .back {
        /*border-bottom: 1px solid #707070;*/
    }
    /*end triangle icon*/
}
@media only screen and (max-width: 480px) {
    .tab-bar {
        height: 61px;
        line-height: 3.813rem;
    }
    .tab-bar .menu-icon {
        height: 3.813rem;
    }
    .m-logo {
        max-width: 70%;
    }
    input[type=search] {
        position: absolute!important;
        top: 14px!important;
        right: 8px!important;
    }
    input[type=search]:focus {
    }
}
@media only screen and (max-width: 360px) {
    /*toogle menu */
    .off-canvas-list .logo-toogle > img {
        margin-left: 30px;
    }
    .tab-bar .menu-icon span::after {
        left: 0;
    }
    /*end toogle menu*/
}
