.event-detail {
    clear: both;
    padding-top: 80px;
}
.event-banner {
    width: 100%;
}
p , .link-event > ul > li > a , .related-link a{
    font-family: muliregular;
    font-size: 14px;
    color: #525d63;
}
.link-event > ul {
    display: inline-block;
    list-style: none;
}
.link-event > ul > li > a {
    text-decoration: underline;
}
.left-section {
    border-right: 1px solid #EBEBEB;
}
.right-section {
    padding-bottom: 5rem;
}
.related-link {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-left: 0;
    margin-right: 0;
}
.related-link > li {
    padding: 1rem 0px 1rem 0rem;
}
.related-link > li {
    text-align: center;
}
.icon-prev-next.next {
    background-position: 1px 1px;background-position: -43px 1px;
    position: relative;
    right: -15px;
}
.icon-prev-next.prev {
    background-position: 1px 1px;
    position: relative;
    left: -15px;
}
.related-event {
    margin-top: 40px;
}
.related-event > li {
    text-align: center;
}
.bx-wrapper .bx-controls-direction a {
    width: 48px;
    height: 48px;
}
.bx-wrapper .bx-next {
    right: 20px;
    background: transparent url("../../bxslider/images/event-controls.png") no-repeat scroll -52px 0px;
}
.bx-wrapper .bx-prev {
    left: 10px;
    background: transparent url("../../bxslider/images/event-controls.png") no-repeat scroll 0px 0px;
}
.bx-wrapper .bx-next:hover {
    background-position: -52px 0;
}
/*left*/
.accordion.year {
    margin-left: 0px;
    float: left;
    border: medium none;
}
.accordion .content-nav > a , .accordion .content-nav.active > a {
    background-color: #F13A3A;
    float: left;
    border-radius: 0.4rem;
    margin-bottom: 10px;
    color: #FFF;
    padding: 0.3125rem 1.5625rem 0.3125rem 2.1875rem;
    font-size: 0.75rem;
}
.accordion .content-nav > a:hover , .accordion .content-nav > a:active {
    background-color: #F13A3A;
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
    padding: 0.938rem 0px;
}
ul.month {
    list-style: outside none none;
    text-align: right;
    margin-left: 0px;
    color: #525D63;
    clear: both;
    margin-bottom: 15px;
}
ul.month > li > a {
    font-size: 12px;
    color: #525D63;
    font-family: muliregular;
    font-weight: 400;
    padding-right: 5px;
}
.month-detail:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}
.year-icon{
    margin-left: 0.625rem;
}
/*//The accordion is closed*/
.year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: transparent transparent transparent #FFFFFF;
}
/*//The accordion is open*/
.active .year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: #FFFFFF transparent transparent transparent;
}
/*end left*/
/*right*/
/*banner*/
.row.banner-event {
    margin-bottom: 60px;
}
/*end banner*/
/*socmed share*/
.share-to ul li {
    list-style: none;
    text-align: right;
}
.event-detail .social-media {
    background: transparent url("../../img/promo-details/icon-socmed/socmed.png") no-repeat scroll;
    width: 31px;
    height: 31px;
}
.event-detail .social-media.facebook {
    background-position:-1px -1px;
}
.event-detail .social-media.facebook:hover {
    background-position: -38px -1px;
}
.event-detail .social-media.twitter {
    background-position: 0px -41px;
}
.event-detail .social-media.twitter:hover {
    background-position: -37px -42px;
}
.event-detail .social-media.gplus {
    background-position: 0px -81px;
}
.event-detail .social-media.gplus:hover {
    background-position: -37px -81px;
}
.event-detail .share-to ul {
    margin-top: 0.875rem;
}
.event-detail .share-to li {
    text-align: left;
    margin-bottom: 5px;
}
/*end socmed share*/

.title-event {
    font-family: "Helvetica 65 Medium" , "myriad pro";
    font-size: 24px;
    color: #505050;
    margin-bottom: 10px;
}
.date-desc {
    font-family: muliregular;
    font-size: 12px;
    color: #525d63;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
.tag-promo {
    font-family: muliregular;
    font-size: 12px;
    color: #525D63;
    float: left;
    background-color: #EBEBEB;
    padding: 8px 18px;
    border-radius: 5px;
    letter-spacing: 4px;
}
.tag-promo img {
    width: 24px;
    height: 22px;
    margin-right: 5px;
}
.tag-promo , .tag-event {
    font-family: muliregular;
    font-size: 12px;
    color: #525D63;
    float: left;
    background-color: #EBEBEB;
    padding: 8px 18px;
    border-radius: 5px;
    letter-spacing: 4px;
}
.tag-promo img , .tag-event img {
    width: 24px;
    height: 22px;
    margin-right: 5px;
}
hr {
    margin: 1.25rem 0px 50px;
}
.link-event > ul {
    margin-left: 0px;
}
/*related event*/
.promo-thumb-list {
    position: relative;
}
.promo-thumb-desc {
    display: none;
    position: absolute;
    bottom: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 0.88;
    padding-top: 30px;
    /*background: rgba(0,0,0,0.5);*/
    cursor: pointer;
    margin-right: 10px;
    width: 100%;
}
.promo-thumb-list:hover .promo-thumb-desc {
    display: block;
}
.gap-line {
    width: 35px;
}
/*end right*/
/*brand slider*/
.brand-slider {
    margin-top: 25px;
    padding-bottom: 20px;
    margin-bottom: 0px;
}
.brand-slide > li {
    margin-bottom: 1rem;
}
.brand-slider li > img {
    margin: 0 auto;
}
.bx-prev {
    margin-left: 0%;
}
.bx-next {
    margin-right: 0%;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
}
.bx-pager.bx-default-pager {
    display: none;
}
.bx-viewport > ul {
    margin-left: 0px;
}
.brand-slide[class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    /*padding: 0px 0.625rem 0rem;*/
}
.event-display {
    /*border: 1px solid #ebebeb;*/
    font-family: muliregular;
    background-color: #252525;
}
.event-display .bottom-gap {
    margin-bottom: 0px;
}
.event-display img {
    margin: 0px auto;
}
.event-display .title-variants {
    font-size: 14px;
    font-weight: bold;
    color: #9e0b0f;
}
.event-display .desc {
    font-size: 12px;
    color: #707070;
}
.event-desc {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    width: 100%;
    text-align: left;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}
.desc {
    padding-top: 20px;
    padding-left: 20px;
    color: #ffffff;
}
/*end brand slider*/
@media only screen and (max-width: 1024px) {
    .accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
        clear: both!important;
    }
}

@media only screen and (max-width: 640px) {
    .accordion .content-nav > a, .accordion .content-nav.active > a {
        clear: both;
        float: none!important;
        background-color: #959595;
        padding: 0.625rem 1.5625rem 0.625rem 2.1875rem;
        text-align: center;
    }
    .left-section, .right-section {
        margin-bottom: 35px;
    }
    .share-to > ul {
        display: inline-block;
    }
    .share-to > ul > li {
        display: inline-block;
    }
    .event-display .bottom-gap {
        margin-bottom: -2px;
    }
}