.event{
    clear: both;
    min-height: 565px;
}
.sidebar-year{
    margin-top: 5.3125rem;
    padding-left: 0;
    border-right: 1px solid #ebebeb;
    font-family: "Helvetica 65 Medium","myriad pro";
}
.wrapper-content{
    margin-top: 5.3125rem;
    padding-left: 0;
    padding-bottom: 5rem;
}
.accordion .accordion-navigation > .content, .accordion dd > .content {
    padding: 0.938rem 0;
}
.year{
    margin-left: 0;
    float: left;
    border: none;
}
.year .content-nav>a, .year dd>a{
    background-color: #f13a3a;
    float: left;
    border-radius: 0.4rem;
    margin-bottom: 0.625rem;
    color: #FFFFFF;
    padding: 0.3125rem 1.5625rem 0.3125rem 2.1875rem;
    font-size: 0.75rem;
}
.year .content-nav>a:hover, .year dd>a:hover{
    background-color: #f13a3a;
    float: left;
}
.year .content-nav.active>a, .year dd.active>a{
    background-color: #f13a3a;
    float: left;
    margin-bottom: 10px;
}
.month{
    list-style: none;
    text-align: right;
    margin-left: 0;
    color: #525d63;
    clear: both;
    margin-bottom: 15px;
}
.month-detail{
    margin-bottom: 0;
    width: 100%;
}
.month-detail:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}
.month-detail > a{
    color: #525d63;
    font-family: muliregular;
    font-size: 0.75rem;
    font-weight: 400;
    padding-right: 5px;
}
.content.active .month-detail > a {
    /*color: #f13a3a;*/
    /*text-decoration: underline;*/
}
.year-icon{
    margin-left: 0.625rem;
}
/*//The accordion is closed*/
.year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: transparent transparent transparent #FFFFFF;
}
/*//The accordion is open*/
.active .year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: #FFFFFF transparent transparent transparent;
}
.title-event{
    font-size: 1.125rem;
    font-family: "Helvetica 65 Medium","myriad pro";
    color: #505050;
    padding-top: 0;
    padding-bottom: 10px;
    margin: 0;
}
.date-event{
    font-family: "muliregular";
    font-size: 0.625rem;
    color: #525d63;
    margin: 0;
    padding-bottom: 1.0625rem;
    letter-spacing: 0.125rem;
}
.hr-event{
    width: 0.625rem;
    background-color: #cccccc;
    margin: 0;
    margin-bottom: 25px;
}
.detail-event{
    font-family: "muliregular";
    font-size: 0.75rem;
    color: #525d63;
    padding-top: 0px;
    padding-bottom: 25px;
    margin: 0;
}
.btn-readmore{
    background-color: #c2c2c2;
    border-radius: 0.4rem;
    margin: 0;
    font-family: "muliregular";
    color: #FFFFFF;
    padding: 0.5rem 2.1875rem;
    font-size: 0.625rem;
    letter-spacing: 0.375rem;
}
.btn-readmore:hover{
    background-color: #f13a3a;
    color: #FFFFFF;
}
.shareto{
    font-family: muliregular;
    font-size: 0.75rem;
    color: #525d63;
    padding: 0;
    margin: 0;
}
.shareto ul{
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.shareto li{
    display: inline-block;
    border: none;
}
.social-media{
    background: transparent url("../../img/event/socmed.png") no-repeat scroll;
    width: 31px;
    height: 31px;
}
.facebook{
    background-position: -1px -1px;
}
.facebook:hover{
    background-position: -37px -1px;
}
.twitter{
    background-position: 0px -41px;
}
.twitter:hover{
    background-position: -37px -42px;
}
.gplus{
    background-position: 0px -81px;
}
.gplus:hover{
    background-position: -37px -81px;
}
.hr-divider{
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    border-color: #ededed;
}
.reset{
    margin: 0;
    padding-left: 2.1875rem;
    padding-right: 0;
}
ul.page li a, ul.page li button{
    border: 1px solid #cccccc;
    color: #707070;
    font-size: 0.75rem;
    padding: 0.5rem 0.625rem;

}
ul.page li.current a, ul.page li.current button {
    background:none;
    color: #707070;
    cursor: default;
    font-weight: normal;
    border: 1px solid #f24646;
}
ul.page li.current a:hover, ul.page li.current a:focus, ul.page li.current button:hover, ul.page li.current button:focus{
    background: none;
}
.m-displaypic > a {
    overflow: hidden;
}
.m-displaypic img {
    transition : all 1s ease 0s;
    -webkit-transition-timing-function: all linear;
    transition-timing-function: all linear;
}
.m-displaypic:hover img {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -ms-transition: all 2s ease;
    transition: all 2s ease;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.no-event {
    background-image: url("../../img/banner-no-event.jpg");
    max-width: 886px;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px !important;
    margin: 0 auto;
}
.content-event {
    max-width: 50%;
    text-align: center;
}
@media only screen and (max-width: 1366px) {
    .event {
        min-height: 500px;
    }
}
@media only screen and (max-width: 768px) {
    .btn-readmore {
        padding: 0.5rem 1.188rem;
    }
}

@media only screen and (max-width: 640px) {
    .accordion .content-nav > a, .accordion .content-nav.active > a {
        clear: both;
        float: none!important;
    }
    .year {
        float: none;
    }
    .year .content-nav > a, .year dd > a {
        background-color: #959595;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .m-readmore {
        margin-bottom: 20px;
    }
    .m-displaypic {
        margin-bottom: 30px;
    }
}