/*home banner*/
.orbit-bullets {
    margin: 0px auto 0px;
    top: -70px;
    display: inline-block!important;
}
.orbit-bullets-container {
}
.banner-title {
    margin-bottom: 0.2em;
    line-height: 1;
    font-size: 1.714285714rem;
}
.orbit-container .orbit-timer.paused > span {
    border-color: transparent transparent transparent;
}
.orbit-container .orbit-next > span {
    border-color: transparent transparent transparent #FFF;
    border-left-style: solid;
    left: 50%;
    margin-left: -4px;
}
.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {
    /*border: none;*/
    display: block;
    height: 0px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 0px;
}
.orbit-container .orbit-slide-number {
    color: transparent;
}
.example-orbit-content > li img.banner-img {
    /*height: 696px;*/
}
.example-orbit-content .columns {
    padding-right: 0rem;
    padding-left: 0rem;
}
.banner-desc {
    margin-right: 16.66666% !important;
}
.banner-desc .description {
    margin-bottom: 60px;
    line-height: 1.8;
}
.banner-description {
    position: relative;
}
.banner-description a.button {
    border: 1px solid #FFF;
    box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.3);
    padding: 0.85em 3em;
    letter-spacing: 5px;
    border-radius: 5px;
    font-family: muliregular;
    font-size: 10px;
    position: absolute;
    margin-top: 58%;
    right: 10%;
}
.orbit-container .button.right {
    margin-right: 16.66666%!important;
}
.orbit-bullets li.active {
    background: #ff0000 none repeat scroll 0% 0%;
}
.orbit-bullets li {
    background: #ffffff none repeat scroll 0% 0%;
    border: 1px solid #ffffff;
}
.m-desc {
    float: right !important;
}
.orbit-container .orbit-prev, .orbit-container .orbit-next {
    height: 48px;
    width: 48px;
}
.orbit-prev {
    background: transparent url("../../bxslider/images/event-controls.png") no-repeat scroll 0px 0px;
    width: 48px;
    height: 48px;
}
.orbit-prev > span , .orbit-next > span {
    display: none!important;
}
.orbit-next {
    background: transparent url("../../bxslider/images/event-controls.png") no-repeat scroll -52px 0px;
    width: 48px;
    height: 48px;
}
.orbit-next , .orbit-prev {
    opacity: 0;
}
.orbit-container:hover .orbit-next , .orbit-container:hover .orbit-prev {
    animation: show 4s;
}
@keyframes show {
    0%   { opacity: 0; }
    50%  { opacity: 50; }
    100% { opacity: 1; }
}
/*end home banner*/
/*brand slider*/
.brand-slider {
    margin-top: 25px;
    padding-bottom: 0px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(235, 235, 235);
}

.bx-prev {
    margin-left: -7%;
}
.bx-next {
    margin-right: -6%;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
}
.brand-slide[class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    padding: 0px 0.625rem 0rem;
}
.bx-pager.bx-default-pager {
    display: none;
}
/*end brand slider*/
.youtube img {
    padding-top: 3.125em;
}
.tvc .title {
    font-family: "Helvetica 65 Medium" , "myriad pro";
    font-size: 1.5rem;
    padding-top: 1.35rem;
    padding-bottom: 0.7rem;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px !important;
}
.visit-desc {
    padding-bottom: 1.4375rem;
    padding-top: 1.5625rem;
}
.visit-desc > p {
    font-size: 0.875rem;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 0px;
    width: 100%!important;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*home event & promo*/
.event-promo {
    margin-bottom: 0;
}
.event-promo a {
    color: #707070;
}
.event-promo > .pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.event-promo > .pre-title > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    float: left;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
}
.event-promo .columns:last-child {
    /*margin-bottom: 0.9375rem ;*/
    margin-bottom: 0;
}
.event-promo .left-event {
    padding-left: 0px;
}
.event-promo .left-event p.description {
    font-family: muliregular;
    font-size: 0.75rem;
    margin-top: 1.125rem;
    margin-bottom: 2.375rem;
    color: #505050;
    letter-spacing: 0px;
}
.event-promo .right-event .row {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-bottom: 30px;
    background-color: #ebebeb;
}
.event-promo .right-event .sub-icon-promo {
    padding-left: 0px;
    padding-right: 0px;
}
.event-promo .right-event .icon-promo {
    width: 1.75rem;
}
.thumb-left-event li {
    padding-left: 0;
    padding-right: 0;
}
.event-promo .right-event .thumb-small-event {
    padding-left: 0px;
    padding-right: 25px;
}
.event-promo > .right-event > .row > .columns > .description {
    /*font-size: 14px;*/
    color: #505050;
    text-transform: uppercase;
    margin-bottom: 7px;
    line-height: 1.3;
    font-weight: 800;
}
.see-more-button {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    margin-bottom: 6.25rem;
    margin-top: 1.25rem;
}
.see-more-button > a:hover {
    color: #ffffff;
}
.see-more-button:hover .default-color {
    background-color: #d3222a;
}
.see-more {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
    font-size: 10px;
    letter-spacing: 5px;
    font-weight: 800;
}

.variant-display {
    margin-left: 15px;
    margin-right: -15px;
}
.variant-display img {
    position: relative;
}
.link-desc h3 {
    letter-spacing: 0px;
    letter-spacing: 0px;
}
.outer-div {
    height: 92.5px;
}
.middle-div {
    position: relative;
    top: 50%;
    -ms-transform:translateY(-50%);
    -webkit-transform:translateY(70%);
    -moz-transform:translateY(-50%);
    -o-transform:translateY(-50%);
}
.link-desc > img {
    width: 47px;
}
.variant-display , .thumb-small-event {
    overflow: hidden;
}
.thumb-small-event img , .variant-display img {
    transition : all 1s ease 0s;
    -webkit-transition-timing-function: all linear;
    transition-timing-function: all linear;
}
.thumb-small-event:hover img , .variant-display:hover img {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
/*end event & promo*/

@media only screen and (max-width: 1366px) {
    .example-orbit-content > li img.banner-img {
    }
}
@media only screen and (max-width: 1024px) {
    /*slide banner*/
    .right {
        float: none!important;
        margin: 0 auto;
    }
    .banner-desc {
        margin: 0 10%!important;
    }
    .orbit-bullets-container {
        display: none;
    }
    /*end slide banner*/
    .no-gap {
        border-right: none;
        margin-bottom: 15px;
    }
    .event-promo .columns:last-child {
        margin-bottom: 0.9375rem;
    }
    .variant-display , .m-thumb-small-event {
    }
    .variant-display img , .m-thumb-small-event .thumb-small-event  {
        padding: 30px;
    }
    .event-promo .right-event .thumb-small-event {
        padding: 0;
    }
    .sub-icon-promo {
        text-align: center;
    }
    .outer-div {
        height: 248.5px;
    }
    .event-promo .left-event {
        /*padding-left: 0.9375rem;*/
        /*margin-left: -15px;*/
    }
}
@media only screen and (max-width: 980px) {
    .outer-div {
        /*height: 237.5px;*/
    }
}
@media only screen and (max-width: 900px) {
    .outer-div {
        /*height: 217.5px;*/
    }
}
@media only screen and (max-width: 768px) {
    .banner-title {
        font-size: 1.5rem;
    }
    .orbit-bullets {
        top: -50px;
    }
    .outer-div {
        height: 185.5px;
    }
}
@media only screen and (max-width: 640px) {
    .variant-display {
        margin-left: 0px;
        margin-right: -15px;
    }
    .event-promo .right-event .thumb-small-event {
        padding-right: 10px;
    }
    .brand-slider #brand-slide {
        margin-top: 2.25rem;
    }
    .left-event > .small-12{
        max-width: 50%;
    }
    .banner-desc {
        margin: 0 auto !important;
        padding-right: 35px;
        padding-left: 35px;
    }
    img.banner-title {
        display: none;
    }
    .banner-desc > hr {
        display: none;
    }
    .see-more-button {
        margin-bottom: 0.25rem;
    }
    .see-more-button:nth-last-child(1) {
        margin-bottom: 6.25rem;
    }
    .event-promo .left-event {
        padding-left: 0.9375rem;
    }
    .outer-div {
        height: 134.5px;
    }
}
@media only screen and (max-width: 480px) {
    .left-event > .small-12{
        max-width: 100%;
    }
    .see-more-button.small-6 {
        width: 100%;
    }
    .thumb-small-event {
        display: none;
    }
}
@media only screen and (max-width: 320px) {
    .bx-wrapper .bx-next {
        right: -15px;
    }
    .bx-wrapper .bx-prev {
        left: -15px;
    }
}