.others {
    clear: both;
    margin-bottom: 150px;
}
.banner {
    margin-bottom: 50px;
}
.pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.pre-title > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    float: left;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.pre-title-center {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.pre-title-center > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
}
p , .accordion a.title-product , .accordion .content , .title-variant {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
    padding: 1rem 0px;
}
.overview {
    background-color: #f3f3f3;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 40px;
    margin-bottom: 100px;
    text-align: center;
}
.accordion {
    border: none;
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
    background: transparent;
}
.accordion .accordion-navigation > a, .accordion dd > a {
    background: transparent;
}
.accordion a.title-product {
    border-top: 1px solid #ebebeb;
    letter-spacing: 5px;
}
.variant-product > li {
    text-align: center;
}
.variant-product > li > div {
    border: 1px solid #ebebeb;
    padding: 50px 20px 10px;
}
.variant-product > li > div > img {
    margin-bottom: 0px;
    margin-top: 0px;
}
.title-variant {
    font-weight: 400;
    color: #505050;
}
.year-icon{
    margin-left: 0.625rem;
}
li.accordion-navigation:first-child a.title-product {
    border-top: 0px solid #EBEBEB;
}
/*//The accordion is closed*/
.year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: transparent transparent transparent #707070;
}
/*//The accordion is open*/
.active .year-icon:before {
    content: "";
    display: inline-block;
    border: solid 4px;
    border-color: #707070 transparent transparent transparent;
}
.variant-display:hover img , .variant-display:hover p {
    transition: all .2s ease-in-out;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
@media only screen and (max-width: 640px) {
    .banner {
        margin-bottom: 20px;
    }
    .overview {
        margin-bottom: 50px;
    }
}