.pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 0rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
}
.pre-title p.title{
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    float: left;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
}
.pre-title-center {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 40px;
    padding: 3.375rem 15px 0px 0px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.pre-title-center.with-desc {
    margin-bottom: 20px;
}
.pre-title-center > p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    border-bottom: 4px solid #EBEBEB;
    margin-bottom: 0px;
    display: inline-block;
}
.title-desc {
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.socmed .pre-title p.title {
    font-family: 'Helvetica 65 Medium','myriad pro';
    color: #505050;
    margin-bottom: 0px;
}

p {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
.banner {
    margin-bottom: 50px;
}
.banner{
    animation: boundeIn 2s 2 alternate;
}
/*brand slider*/
.brand-slider {
    margin-top: 0px;
    padding-bottom: 40px;
    margin-bottom: 10px;
}
.brand-slide > li {
    margin-bottom: 1rem;
}
.brand-slider li > img {
    margin: 0 auto;
}
.bx-prev {
    margin-left: -7%;
}
.bx-next {
    margin-right: -6%;
}
.bx-wrapper {
    margin: 0px auto;
}
.bx-wrapper .bx-viewport {
    box-shadow: none;
    border: none;
}
.bx-pager.bx-default-pager {
    display: none;
}
.bx-viewport > ul {
    margin-left: 0px;
}
.brand-slide[class*="block-grid-"] > li {
    display: block;
    float: left;
    height: auto;
    /*padding: 0px 0.625rem 0rem;*/
}
.variants {
    border: 1px solid #ebebeb;
    font-family: muliregular;
    padding: 35px 25px;
}
.variants .bottom-gap {
    margin-bottom: 20px;
    margin-top: 15px;
}
.variants img {
    margin: 0px auto;
    max-width: 170px;
}
.variants .title-variants {
    font-size: 12px;
    font-weight: 400;
    color: #505050;
    padding-top: 10px;
}
.variants .desc {
    font-size: 12px;
    color: #707070;
}
/*end brand slider*/
/*video*/
.row.video {
    margin-top: 130px;
}
.video {
    font-family: muliregular;
    margin-bottom: 145px;
}
.video .sub-title{
    letter-spacing: 5px;
}
.video-desc {
    background-color: #f3f3f3;
    padding: 40px;
}
.video .video-desc .pre-title {
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 1.25rem;
    padding: 0rem 15px 0px 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-bottom: 0px;
    width: 100%!important;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*end video*/
/*socmed*/
.socmed {
    margin-bottom: 50px;
}
.socmed .socmed-section {
}
.description-socmed {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    background-color: rgb(244, 244, 244);
    padding-top: 1.25rem;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.socmed .socmed-kind {
    font-size: 18px;
    color: #ffffff;
    background-color: #cccccc;
    padding: 0px 25px;
    line-height: 2;
    border-radius: 3px;
    margin-bottom: 0;
}
.socmed span {
    font-size: 12px;
    line-height: 3;
}
.socmed p.date {
    font-size: 14px;
    color: #202020;
}
.socmed .button-socmed {
    float: left;
    color: #ffffff;
    font-size: 14px;
    background-color: #006cc8;
    border-radius: 5px;
    line-height: 3;
    padding-left: 35px;
    padding-right: 35px;
}
.socmed-button-play {
    text-align: right;
}
.socmed-play {
    background: url("../../bxslider/images/controls.png");
    width: 32px;
    height: 32px;
    display: inline-block;
}
.socmed-play.back {
     background-position: 0px 32px;
 }
.socmed-play.back:hover {
    background-position: 0px 2px;
}
.socmed-play.next {
    background-position: 53px 33px;
}
.socmed-play.next:hover {
    background-position: 53px 1px;
}
.main > div {
    display: none;
}
.main > div.current {
    display: block;
}
/*end socmed*/
/*instagram*/
.button-socmed.instagram {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #736357;
}
/*end instagram*/
.overview {
    background-color: #f3f3f3;
    padding-bottom: 40px;
    margin-bottom: 100px;
    border-radius: 10px;
}
.desc-overview {
    padding: 0px 40px;
    text-align: center;
}
.variants:hover {
    border: 2px solid #cccccc;
}

@media only screen and (max-width: 640px) {
    .banner {
        margin-bottom: 20px;
    }
    .banner > .columns {
        padding-left: 0;
        padding-right: 0;
    }
    .title-desc {
        margin-left: 15px;
        margin-right: 15px;
    }
    .video {
        margin-bottom: 50px;
    }
    .video > .columns {
        margin-bottom: 20px;
    }
    .brand-slider > div {
        margin-bottom: 50px;
    }
    .socmed .button-socmed {
        padding-left: 20px;
        padding-right: 20px;
    }
    .overview {
        padding-left: 15px;
        padding-right: 15px;
    }
    .socmed .socmed-section {
        margin-bottom: 20px;
    }
    .date {
        padding-top: 30px;
        text-align: center;
    }
    .brand-slider {
        margin-left: 30px;
        margin-right: 30px;
    }
}
@media only screen and (max-width: 480px) {
    .description-socmed > ul > li {
        width: 65%;
    }
    .description-socmed > ul > li:nth-last-child(1) {
        width: 35%;
    }
    .socmed .button-socmed {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
    .description-socmed > ul > li:first-child {
        width: 55%;
    }
}
@media only screen and (max-width: 360px) {
    .description-socmed > ul > li:first-child {
        width: 65%;
    }
}