.promo-details {
    clear: both;
    padding-top: 80px;
}
.panel {
    border-style: none;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: transparent;
    color: #333;
}
.mechanism-section {
    clear: both;
}
/*left*/
.promo-details .left-promo {
    border-right: 1px solid #CCCCCC;
    padding-bottom: 140px;
}
.promo-details .left-promo li {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-bottom: 1px solid #ebebeb;
}
.promo-details .side-menu {
    font-family: muliregular;
    font-size: 12px;
    color: #707070;
}
.promo-details .side-menu.is-active {
    color: #f13a3a;
}
.promo-details .left-promo li:hover {
    background-color: #ebebeb;
    border-radius: 5px;
}
.promo-details ul li {
    list-style: none;
    text-align: right;
}
/*end left*/
/*right*/
/**banner section**/
.promo-details .banner-section {
    margin-bottom: 65px;
}
.promo-details .social-media {
    background: transparent url("../../img/promo-details/icon-socmed/socmed.png") no-repeat scroll;
    width: 31px;
    height: 31px;
}
.promo-details .social-media.facebook {
    background-position:-1px -1px;
}
.promo-details .social-media.facebook:hover {
    background-position: -38px -1px;
}
.promo-details .social-media.twitter {
    background-position: 0px -41px;
}
.promo-details .social-media.twitter:hover {
    background-position: -37px -42px;
}
.promo-details .social-media.gplus {
    background-position: 0px -81px;
}
.promo-details .social-media.gplus:hover {
    background-position: -37px -81px;
}
.promo-details .share-to ul {
    margin-top: 0.875rem;
}
.promo-details .share-to li {
    text-align: left;
    margin-bottom: 5px;
}
/**end banner section**/
/**header section**/
.promo-details .header-promo-section {
    margin-bottom: 58px;
}
.promo-details .title {
    clear: both;
    font-family: "Helvetica 65 Medium" , "myriad pro";
    font-size: 24px;
    color: #505050;
}
.info-periode {
    font-family: muliregular;
    font-size: 12px;
    color: #525d63;
    letter-spacing: 3px;
}
.tag-promo {
    font-family: muliregular;
    font-size: 12px;
    color: #525D63;
    float: left;
    background-color: #EBEBEB;
    padding: 8px 18px;
    border-radius: 5px;
    letter-spacing: 4px;
}
.tag-promo img {
    width: 24px;
    height: 22px;
    margin-right: 5px;
}
/**end header section**/
/**promo desc section**/
.promo-details .promo-desc-section {
    margin-bottom: 100px;
}
.pre-sub-title {
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 1.25rem;
}
.promo-details .promo-desc-section p.sub-title {
    float: left;
    margin-bottom: 0px;
    border-bottom: 4px solid #EBEBEB;
    font-family: "Helvetica 65 Medium" , "myriad pro";
    font-size: 18px;
    color: #505050;
}
.promo-details .promo-desc-section  p , .promo-details .promo-desc-section  ol > li{
    clear: both;
    font-family: muliregular;
    font-size: 12px;
    color: #525d63;
}
.promo-desc-section p.custom-desc {
    font-family: "Helvetica 65 Medium","myriad pro";
    font-size: 12px;
    text-decoration: underline;
    font-weight: bold;
}
/**end promo desc section**/
/**prize section**/
ul.prize-section li , ul.mechanism-section li {
    text-align: center;
}
ul.mechanism-section li div{
    padding: 5px 15px;
    border: 1px solid #f2f2f2;
}
ul.mechanism-section .step {
    font-family: "Helvetica 65 Medium", "myriad pro";
    font-size: 32px;
    color: #707070;
}
ul.mechanism-section .step-desc {
    margin-top: 40px;
}
/**end prize section**/
@media only screen and (max-width: 640px) {
    .share-to > ul {
        display: inline-block;
    }
    .share-to > ul > li {
        display: inline-block;
    }
    .promo-details .left-promo {
        padding-bottom: 60px;
    }
    .promo-details .banner-section {
        margin-bottom: 45px;
    }
    .promo-details .promo-desc-section {
        margin-bottom: 60px;
    }
}