.promo-thumb {
    clear: both;
    margin-bottom: 80px !important;
    text-align: center;
    color: #505050;
    min-height: 565px;
}
.promo-thumb > ul {
    margin-top: 80px !important;
    margin: 0px 0.375rem;
}
.promo-thumb .description {
    line-height: 1.3;
    margin-bottom: 0.625em;
    padding-left: 16%;
    padding-right: 16%;
    font-family: "Helvetica 65 Medium","myriad pro";
    font-size: 14px;
    color: #505050;
    font-weight: 800;
}
.promo-thumb .sub-description {
    font-family: muliregular;
    font-size: 0.625em;
    letter-spacing: 0.1875rem;
    color: #505050;
}
.promo-thumb .description:hover , .promo-thumb .sub-description:hover {
    color: #f13a3a;
}
.promo-thumb-list {
    position: relative;
}
.promo-thumb-desc {
    position: absolute;
    bottom: 20px;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    padding-top: 30px;
    cursor: pointer;
    margin-right: 10px;
    width: calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: -webkit-calc(100% - 20px);
    width: -o-calc(100% - 20px);
}
.promo-thumb-list:hover .promo-thumb-desc {
    opacity: 0.88;
    -webkit-transition: opacity 1000ms;
    -moz-transition: opacity 1000ms;
    -o-transition: opacity 1000ms;
    transition-y: opacity 1000ms;
}
.promo-desc:hover img {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.promo-desc {
    overflow: hidden;
}
.promo-desc img {
    transition : all 2s ease 0s;
    -webkit-transition-timing-function: all linear;
    transition-timing-function: all linear;
}
.promo-desc .promo-thumb-desc {
    transition : all 1s ease 0s;
    -webkit-transition-timing-function: all linear;
    transition-timing-function: all linear;
}
.promo-desc:hover img {
    -webkit-transition: all 2s linear;
    -moz-transition: all 2s linear;
    -o-transition: all 2s linear;
    -ms-transition: all 2s linear;
    transition: all 2s linear;
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.promo-desc:hover .promo-thumb-desc{
    animation-name: slideUp;
    -webkit-animation-name: slideUp;

    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;

    visibility: visible !important;
}
@keyframes slideUp {
    0% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(20%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}

.no-promo {
    background-image: url("../../img/banner-no-promo.jpg");
    max-width: 886px;
    height: 230px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.content-promo {
    max-width: 50%;
}
@media only screen and (max-width: 1366px) {
    .promo-thumb {
        min-height: 500px;
    }
}