h1, h2, h3, h4, h5, h6 , p ,body {
    font-family: muliregular;
    color: #707070;
}
.search {
    margin-bottom: 160px;
    clear: both;
    padding-top: 80px;
}
.product-list {
    border: 1px solid #EBEBEB;
    margin-bottom: 30px;
    padding: 25px;
}
.wrapper-product-image {
    margin-top: 20px;
}
.product-name {
    font-size: 12px;
    padding-top: 20px;
}
.no-result {
    background-image: url("../../img/banner-no-result.jpg");
    max-width: 1170px;
    height: 271px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.content-result {
    max-width: 50%;
    text-align: center;
}