{% block frontend_content %}
    <html>
    <body>
    <div>
        <p>Kepada Team Marketing Lotte Indonesia,</p>
        <p>Pengunjung dengan data sebagai berikut: </p>
        <p>Nama : {{ contact_name }}</p>
        <p>Email : {{ contact_email }}</p>
        <p>Comment: {{ contact_comment }}</p>
    </div>
    </body>
    </html>
{% endblock %}