{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/promo-details.css" rel="stylesheet">
{% endblock %}
{% block menu_promo %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row promo-details" data-equalizer>
        <div class="large-2 medium-2 small-12 columns left-promo" data-equalizer-watch>
            <ul>
        {% for detail in promo_detail %}
            <li><a href="{{ base_url()~current_lang }}/promo/detail/{{ detail.slug }}" class="side-menu is-active"><span>{{ detail.title }}</span></a></li>
        {% endfor %}
        {% for list in promo_list %}
            <li><a href="{{ base_url()~current_lang }}/promo/detail/{{ list.slug }}" class="side-menu"><span>{{ list.title }}</span></a></li>
        {% endfor %}
            </ul>
        </div>
        <div class="large-10 medium-10 small-12 columns right-promo" data-equalizer-watch>
        {% for detail in promo_detail %}
            <div class="large-11 large-offset-1 medium-11 medium-offset-1 small-12 columns">
                <div class="row banner-section">
                    <div class="large-10 medium-10 small-12 columns">
                        <img src="{{ base_url() }}media/promo/{{ detail.banner }}">
                    </div>
                </div>
                <div class="header-promo-section">
                    <h1 class="title">{{ detail.title }}</h1>
                    <h3 class="info-periode">Periode : {{ detail.start }} - {{ detail.end }}</h3>
                    <div class="pre-tag-promo">
                        <p class="tag-promo"><span><img src="{{ base_url() }}assets/img/icon/promo.png"></span>Promo</p>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="promo-desc-section">
                    <div class="pre-sub-title">
                        <p class="sub-title">DESCRIPTION</p>
                        <div style="clear: both"></div>
                    </div>
                    <p>{{ detail.content }}</p>
                    
                </div>
                <div class="promo-desc-section">
                    <div class="pre-sub-title">
                        <p class="sub-title">SYARAT DAN KETENTUAN</p>
                        <div style="clear: both"></div>
                    </div>
                    {{ detail.terms }}
                </div>
                <div class="promo-desc-section">
                    <div class="pre-sub-title">
                        <p class="sub-title">PRIZE</p>
                        <div style="clear: both"></div>
                    </div>
                    <ul class="large-block-grid-2 medium-block-grid-2 small-block-grid-2 prize-section">
                {% for prize in promo_prize %}
                        <li>
                            <img src="{{ base_url() }}media/promo/{{ prize.image }}">
                            <p>{{ prize.desc }}</p>
                        </li>
                {% endfor %}
                    </ul>
                </div>
                <div class="promo-desc-section">
                    <div class="pre-sub-title">
                        <p class="sub-title">MECHANISM</p>
                        <div style="clear: both"></div>
                    </div>
                    <ul class="row mechanism-section" data-equalizer="mechanism">
                        {% for mechanism in promo_mechanism %}
                            <li class="medium-6 columns panel {{ loop.last ? 'end' : ''  }}" style="display: block">
                                <div data-equalizer-watch="mechanism" >
                                    <p class="text-left step">{{ mechanism.step }}</p>
                                    <img src="{{ base_url() }}media/promo/{{ mechanism.image }}">
                                    <p class="step-desc">{{ mechanism.desc }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% if detail.more_info_link | length > 0 %}
                <div class="promo-desc-section">
                    <div class="pre-sub-title">
                        <p class="sub-title">INFO LEBIH LANJUT</p>
                        <div style="clear: both"></div>
                    </div>
                    <a href="{{ detail.more_info_link }}" target="_blank">
                        <img src="{{ base_url() }}media/promo/{{ detail.more_info_banner }}" />
                    </a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block frontend_js %}
    <script type="text/javascript">
        $(document).foundation({
            equalizer : {
                // Specify if Equalizer should make elements equal height once they become stacked.
                equalize_on_stack: true
            }
        });
    </script>
{% endblock %}