{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url()}}assets/css/custom/promo.css" rel="stylesheet">
{% endblock %}
{% block menu_promo %}
    is-active
{% endblock %}
{% block frontend_content %}
<div class="row promo-thumb">
    <ul class="large-block-grid-4 medium-block-grid-4 small-block-grid-1 promo-list">
        {% if promo_image | length < 1 %}
            <div class="no-promo">
                <div class="content-promo">
                    <img src="{{ base_url() }}assets/img/icon/icon-no-promo.png">
                    <p class=""style="font-size: 16px;font-weight: bold;font-weight: bold;color: #ffffff">{{ lang('txt_no-promo') }}</p>
                </div>
            </div>
        {% endif %}
        {% for promo in promo_image %}
            <li class="promo-thumb-list">
                <div class="promo-desc">
                    <a href="{{ base_url()~current_lang }}/promo/detail/{{ promo.slug }}"><img src="{{ base_url() }}media/promo/{{ promo.image }}"></a>
                    <a href="{{ base_url()~current_lang }}/promo/detail/{{ promo.slug }}">
                        <div class="promo-thumb-desc">
                            <p class="description">{{ promo.title }}</p>
                            <p class="sub-description">{{ promo.date }}</p>
                        </div>
                    </a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block frontend_js %}
    <script type="text/javascript">
    </script>
{% endblock %}