{% extends "pages/views/template_frontend.twig" %}

{% block frontend_css %}
    <link href="{{ base_url() }}assets/css/custom/career.css" rel="stylesheet">
{% endblock %}
{% block menu_careers %}
    is-active
{% endblock %}
{% block frontend_content %}
    <div class="row banner">
        <div class="large-12 columns">
            {{ data_career_banner.content }}
        </div>
    </div>
    {% if career_detail | length < 1 %}
        <div class="row no-career">
            <div class="large-6 large-centered columns no-career-desc">
                <div class="large-2 columns">
                    <img src="{{ base_url() }}assets/img/icon/icon-no-job-vacancy.jpg">
                </div>
                <div class="large-10 columns">
                    <div>
                        <p><b>No job vacancy</b> is available now</p>
                        <p>Please come back any soon or contact us on <a href="mailto:recruitment@lotte.co.id"> recruitment@lotte.co.id</a></p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row career">
            <div class="pre-title-center first-child">
                <p class="title">CAREER</p>
                <div style="clear: both"></div>
            </div>
            <div class="large-10 large-offset-1 medium-10 medium-offset-1 small-12 columns">
                {{ page_content }}
            </div>

            <div class="pre-title-center">
                <p class="title">JOB VACANCIES</p>
                <div style="clear: both"></div>
            </div>
            <ol class="accordion" data-accordion role="tablist">
                {% for career in career_detail %}
                    <li class="large-10 large-offset-1 medium-10 medium-offset-1 small-12 {{ loop.last ? 'end' : '' }} columns accordion-navigation">
                        <a href="#panel-career-{{ career.id }}" class="career-title" role="tab" id="panel-career-heading-{{ career.id }}" aria-controls="panel-career-{{ career.id }}">{{ career.name }}<span class="career-view" style="">See Requirements<span class="year-icon"></span></span></a>
                        <div id="panel-career-{{ career.id }}" class="content {{ loop.first ? 'active' : '' }}" role="tabpanel" aria-labelledby="panel-career-heading-{{ career.id }}">
                            <div class="slide-down">
                                {{ career.req }}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ol>

            <div class="large-10 large-centered medium-10 medium-centered small-12 columns">
                {{ data_career_howtoapplay.content }}
            </div>
        </div>
    {% endif %}

    {% block back_to_top %}
        {{ parent() }}
    {% endblock back_to_top %}
{% endblock frontend_content %}

{% block frontend_js %}
    <script src="{{ base_url() }}assets/foundation/js/foundation/foundation.accordion.js"></script>
    <script>
        $(document).ready(function(){
        });
        $(".accordion li").on("click", "a:eq(0)", function (event)
        {
            var li_parent = $(this).parent();
            if(li_parent.hasClass('active'))
                $(".accordion li div.content:visible").slideToggle("normal");
            else
            {
                $(".accordion li div.content:visible").slideToggle("normal");
                $(this).parent().find(".content").slideToggle("normal");
            }
        });
        $(document).foundation({

        });
        {% block back_to_top_js %}
            {{ parent() }}
        {% endblock back_to_top_js %}
    </script>
{%  endblock frontend_js %}